/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Top banners 
---------------------------*/

.top_banner{
   width: 100%; max-width: 1366px; height: 190px; max-height: 190px; min-height: 190px; overflow: hidden;
   display: block;  margin: 0 auto; text-align:center; position: relative;
   >p{
       margin: 0; height: 100%;
   }
   img{
       width: 100%; max-height: 100%; height: auto; object-fit: cover;
   }
   &:after{
       content:''; width: 100%; height: 100%; /*background: rgba(0,0,0,0.5);*/ position: absolute; top: 0; left: 0;
   }
   .top_banner_in{
       position: absolute;  top: 50%;  left: 0;  right: 0;  display: block;  margin: 0 auto;color: @clr_white;
       z-index: 3; width: 100%; max-width: 1366px; padding: 0 15px; .transform(translateY(-50%));
       h1 {
           font-size: 35px; text-transform: uppercase;margin:0; font-weight: bold;
           span.bold-title {
               font-weight: bold;
           }
       }
   }
   p{
       @media only screen and (max-width:499px){
           font-size: 14px; line-height:22px;
       }
   }
}