<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

$categoryRepository = $objectManager->create('Magento\Catalog\Model\CategoryRepository');
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category

$catById = $objectManager->create('Magento\Catalog\Model\Category')->load($category->getId());


$mediaurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$caturl = $mediaurl.'catalog/category';   
$parentcategories = $categoryRepository->get($category->getId());
$categories = $parentcategories->getChildrenCategories();

// echo "<pre>";
//          var_dump($parentcategories->getData());exit();
/*if($category->getId() == $collectionCategoryId)
{*/
    $categories = $objectManager->create('Magento\Catalog\Model\ResourceModel\Category\Collection');
    $categories->addAttributeToSelect(['name','entity_id'])->addFieldToFilter('is_active', 1);
    $categories->addAttributeToFilter('parent_id',['eq' => $category->getId()]);
    $categories->addAttributeToFilter('include_in_menu', array('eq' => 1));
    // $categories->addAttributeToSelect('*')->addFieldToFilter('is_active', 1);
    $categories->setOrder('name','ASC');

$incrementer = 1;
$totalcount = count($categories)/2;


/*landing page enable filters findout */
$stateFilter = $objectManager->create('\Magento\LayeredNavigation\Block\Navigation\State');
$selectedFilters = $stateFilter->getActiveFilters();
foreach($selectedFilters as $filter){
    $filter_name = $filter->getName(); // Filter name like Color, Size etc
    $filter_label = $filter->getLabel(); // Filter value like Black, Blue, Small, Large etc

    if(count($categories) != 0 && $category->getId() != 2 && $filter_name != '') 
    { ?>
       <?php if (!$block->isContentMode() || $block->isMixedMode()): ?>
        <?= $block->getProductListHtml() ?>
       <?php endif; ?>
   <?php
    }
    break;
}


?>
<?php
if(count($categories) != 0 && $category->getId() != 2) 
{ 
    // if (strpos($a, $b) !== false) { 
    //     echo "test123";
    // }

 ?>

    <script type="text/javascript">
        require(['jquery','jquery/ui'],function ($) {
            console.log('category_landing');
            jQuery(window).on('load', function(){
                jQuery('#maincontent .columns').addClass('category_landing');
            })
        });
    </script>


    <div class="main-counters custom_categorys">
        <h3 class="cat_head_title"><?php echo $parentcategories->getName();?> Categories</h3>
        <div class="row">
        <?php  
        foreach($categories as $category)
        {
            $childrencategories = $categoryRepository->get($category->getId());
            $categoryProducts = $childrencategories->getProductCollection();
            //echo "<pre>";
            //var_dump($childrencategories->getName());exit();

        ?>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <span><?php echo $childrencategories->getName();?></span>   
            </div>           

        <?php   
        }
                
            $incrementer++;

         ?>
    </div>

</div>
<?php } else { ?>
    <?php if (!$block->isContentMode() || $block->isMixedMode()): ?>
        <?= $block->getProductListHtml() ?>
    <?php endif; ?>
 <?php } ?>
