body {
    background: #ffffff; 
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  section { 
    text-align: center; 
    margin: 0 auto; 
    max-width: 940px; 
    min-width: 320px;
    border: 1px solid #ccc;
    max-height: 600px;
    background-color: #FFFFFF;
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 50px 0 30px 0;
    color: #333;
  }
  .title {text-align: center;}
  
  div.buttons {
    background-color: #fff;
    margin: 0;
    position: absolute;
    z-index: 1;
  }
  .buttons div {
      border: none;
      color: white;
      margin: 8px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
  }
  circle.tooltip.tooltipstered {
      z-index: 9999999999999999;
  }
  .tooltip.tooltipstered.hide {opacity: 0;}
  circle:hover, ellipse:hover {cursor: pointer;}
  div.zoom-in {
    background: url(../img/zoom-in.png) no-repeat center;
    width: 32px;
    height: 32px;
    text-indent: -99999px;
  }
  div.zoom-out {
    background: url(../img/zoom-out.png) no-repeat center;
    width: 32px;
    height: 32px;
    text-indent: -99999px;
  }
  div.reset {
    background: url(../img/reset.png) no-repeat center;
    width: 32px;
    height: 32px;
    text-indent: -99999px;
  }
  g.highlight:hover {
    fill: #da1a13;
  }
  .tooltipster-box p {font-size: 14px;  margin: 5px 0 5px 0;}
  .tooltipster-box span.pname {
     font-weight: normal;
     font-size: 14px;
     margin: 8px 0 10px 0;
     display: inline-block;
     color: #004f88;
  }
  .tooltipster-box .pname:hover {text-decoration: underline;}
  .tooltipster-box p.price {
     color: #9b0005;
     font-weight: bold;
     font-size: 15px;
  }
  .tooltipster-box button.box-btn {background-color: #9b0005; color: #fff; border: 1px solid #d43f3a; padding: 8px 20px 8px 20px; margin-top: 5px;}
  .tooltipster-box button.box-btn:hover {background-color: #d43f3a; cursor: pointer; border: 1px solid #9b0005;}
  .tooltipster-box button.box-btn:focus {outline: 0 !important;}
  .tooltip_templates { display: none; }
  div.tooltipster-box {padding: 10px;}
  .tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-box {min-height: 180px !important;}

  span.close-tooltipster-base {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../../../../../frontend/Magento/luma/en_US/Amasty_Checkout/img/close.png) no-repeat center;
  border-radius: 50%;
  z-index: 9999999999999999;
  }
  span.close-tooltipster-base:hover {
    background-color: #e7e7e7;
  }
  .tooltipster-bottom span.close-tooltipster-base {
    top: 12px;
  }
.svgstyle{
  width:1000px;
  height:1000px;
}