/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Common Product design
======================================*/
.page-products,
.catalog-product-view, 
.wishlist-index-index { 
  .products, .wishlist{
    margin: 0;
    ol.product-items{
      margin: 0;
      li{
        padding: 10px 0; margin: 0; margin-bottom: 0px; border: 0 !important; font-size: 14px; line-height: 18px;
      }
    }

    .product-item-info{
      width:100%; margin: 0; /*box-shadow: 0 0 5px 0px fade(@clr_black, 20%);*/ border: 0; position: relative; top: 0;
      /*.transition(all 0.2s ease-in-out);*/

      .product-item-photo{
        width: 100%; display: block;
        .product-image-container{
          width: 100% !important; max-width: 100%; display: block;
          .product-image-wrapper{
            padding-bottom: 38% !important; /*background: fade(@clr_black,10%);*/
            @media only screen and(max-width: 991px){
              padding-bottom: 24% !important;
            }
            .product-image-photo{
              margin: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; position: absolute; 
            }
          }
        }
      }
      
      .product-item-details{
        padding: 15px; display: block;
      }
      .product-item-name{
        display: inline-block; width: 100%;
        a, .product-item-link{
          font-weight: 600;
          /*.dot_elips;*/
        }
      }
      .product-item-inner{
        position: static !important; width: 100% !important; height: auto !important; box-shadow: none !important; 
        border: none !important; padding: 0 !important; margin: 0 !important; 
        .product-item-actions{
          margin: 0 0 15px; display: inline-block; width: 100%;
          > div{
            display: inline-block;
          } 
          a{
            float: none;
          }
          .clear; 
        }
        .field.comment-box{
          display: none;
        }
      }

      &:hover{
        padding: 0; top: 0;
        /*box-shadow: 0 5px 10px 2px rgba(0,0,0,0.2); */
      }
      .clear;
    }

    /* Grid View
    ==================*/
    &.grid.products-grid{
      ol{
        li{
          width: 33.3%; 
          @media only screen and (max-width: 991px){
            width: 50%; 
          }
          @media only screen and (max-width: 480px){
            width: 100%; 
          }
        }
      }
    }

    /* List View
    ==================*/
    &.list.products-list{
      .product-item-info{
        padding: 0px; display: block;
        .product-item-photo{
          width: 30%; float: left; padding: 0 ; /*border: solid 1px @clr_gray;*/
          .product-image-wrapper{
            padding-bottom: 73% !important;
          }
        }
        .product-item-details{
          width: 70%; float: left; padding:0 15px;
          .product-item-link{
            -webkit-line-clamp: 1; height: 22px;
          }

          .product-item-inner{
            .product-item-description{
              margin: 0 0 10px;
              @media only screen and (max-width: 767px){
                font-size: 12px;
              }
              .action.more{
                color: @clr_red;
              }
            }
          }
        }
      }
    }
  }

  /* 1 column layout
  ==================*/
  &.page-layout-1column{
    .grid.products-grid{
      ol{
        li{
          width: 25%; 
          @media only screen and (max-width: 991px){
            width: 50%; 
          }
          @media only screen and (max-width: 480px){
            width: 100%; 
          }
        }
      }
    }
  }
}

/* Related items Design in PDP Page
======================================*/
.catalog-product-view{

}


/* Dash board wishlist item design
======================================*/
.wishlist-index-index{
  .wishlist{
    margin: 0;
    ol.product-items{
      li{
        width: 33.3%;
        @media only screen and (max-width: 991px){
          width:50%;
        }
        @media only screen and (max-width: 480px){
          width:100%;
        }

      }
    }
    .product-item-info{
      padding:0 15px !important;
      a.product-item-photo{
        margin: 0 -15px 15px; width: calc(~"100% + 30px") !important; float: none;
      }
      .product-item-name,
      .price-box{margin: 0; }
      .box-tocart{
        margin-bottom: 15px; float: none; width: 100%;
        .fieldset{
          display: block;
          .field.qty{
            display: inline-block; margin: 0 10px 0 0;
          }
          .product-item-actions{
            width: auto; margin-bottom: 0; display: inline-block; vertical-align: bottom;
          }
        }
        
        .tocart{
          font-size: 12px; padding: 0 20px; line-height: 30px;
        }
      }
    }
  }
}


/* plp products list and grid */

.products.wrapper{
  &.list.products-list{
    @media only screen and(max-width: 767px){
      border-top: 1px solid #ccc;
      ol{
        margin: 0 -15px; border: 0 !important;
        li{
          padding: 15px; width: 50%; display: inline-block;
          .product-item-info{
            border: 1px solid #ccc;  border-radius: 5px; text-align: center; .transition(0.8s all ease-in-out);
            .col-md-2 {
              width: 100%; display: block; clear: both; padding: 15px 15px 30px !important;
              a.product-item-photo{
                width: 100%;
                .product-image-container{
                  .product-image-wrapper{
                    padding-bottom: 24% !important;
                    .product-image-photo{
                      width: 100%; margin: 0 auto; object-fit: contain;
                    }
                  }
                }
              }
            }
            .checkbox{
              padding-top: 10px !important;
              input{
                margin-top: 3px !important;
              }
            }
            .col-md-5{
              width: 100%; display: block; clear: both; padding-right: 15px; padding-left: 0;
              &.border_line{
                border: 0 !important; padding-left: 15px;
              }
              h2{
                text-align: center; padding-bottom: 0 !important;
                a{
                  text-align: center; padding: 0 10px; .dot_elips;-webkit-line-clamp: 4; height: 48px !important;
                }
              }
              .row{
                margin: 0 0 20px;
                .col-md-2{
                  padding: 0 !important;
                }
                .col-md-2, .col-md-4, .col-md-6{
                  width: 100%; display: block; clear: both;
                  .brand_title{
                    display: block;
                  }
                }
              }
              .price_detail_container{
                min-height: 220px; padding: 27px 20px 20px !important; text-align: center;
                .plqty{
                  float: none !important; margin: 25px 0 10px; width: 100%; display: block !important;
                }
                .dcw-list-page-customs{
                  padding: 0; text-align: left;  padding-left: 0px; width: auto;
                  .green-txt{ 
                    .black_instock{
                      display: block;
                    }
                  }
                }
              }
            }
            &:hover{
              .transform(scale(1.02)); box-shadow: none;
            }
          }
        }
      }
    }   
    @media only screen and(max-width: 480px){
      border-top: 1px solid #ccc;
      ol{
        margin: 0; border: 0 !important;
        li{
          width: 100%; display: block;  padding: 15px 0;
        }
      }
    }
    ol{
      li{
        border-bottom: 1px solid #ccc !important; margin: 0 15px; width: calc(~"100% - 30px");
        @media only screen and(max-width: 767px){
          width: 50%; margin: 0;
        }
        @media only screen and(max-width: 567px){
          width: 100%;
        }
        .product-item-info{
          >.col-md-2 {
            @media only screen and(max-width: 767px){
              width: 100%; padding: 15px 0;
            }
            a.product-item-photo{
              width: 100%;
              .product-image-container{
                .product-image-wrapper{
                  @media only screen and(max-width: 767px){
                    padding-bottom: 22% !important;
                  }
                  .product-image-photo{
                    width: 100%; margin: 0 auto; object-fit: contain;
                  }
                }
              }
            }
          }
          .checkbox{
            @media only screen and(max-width: 991px){

            }
          }
          .col-md-5{
            @media only screen and(max-width: 991px) and (min-width: 768px){
              &.border_no{
                display: block;width: 100%; clear: both; padding-left: 0;
              }
              .row{
                .col-md-2{
                  width: 20%; display: inline-block;  margin-top: 5px !important;
                }
                .col-md-4, .col-md-6{
                  width: 40%; display: inline-block; vertical-align: top; margin-top: 10px; line-height: 0 !important;
                  .brand_title{
                    display: block;
                  }
                }
              }
            }
            &.border_line{
              @media only screen and(max-width: 767px){
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
  }
  &.grid.products-grid{
    border-top: 1px solid #ccc;
    @media only screen and(max-width: 767px){
      /*display: none;*/
    }
    ol{
      margin: 0 -15px; border: 0 !important;
      li{
        padding: 15px;
        .product-item-info{
          border: 1px solid #ccc;  border-radius: 5px; text-align: center; .transition(0.8s all ease-in-out);
          .col-md-2 {
            width: 100%; display: block; clear: both; padding: 15px 15px 30px !important;
            a.product-item-photo{
              width: 100%;
              .product-image-container{
                .product-image-wrapper{
                  .product-image-photo{
                    width: 100%; margin: 0 auto; object-fit: contain;
                  }
                }
              }
            }
          }
          .checkbox{
            padding-top: 10px !important;
            input{
              margin-top: 3px !important;
            }
          }
          .col-md-5{
            width: 100%; display: block; clear: both; padding-right: 15px; padding-left: 0;
            &.border_line{
              border: 0 !important; padding-left: 15px;
            }
            h2{
              text-align: center; padding-bottom: 0 !important; 
              a{
                text-align: center; height: 48px !important; padding: 0 10px;  .dot_elips; height: 56px; -webkit-line-clamp: 4;
              }
            }
            .row{
              margin: 0;
              .col-md-2{
                padding: 0 !important;
                .brand-logo{
                  width: 30px !important; height: auto !important;
                }
              }
              .col-md-2, .col-md-4, .col-md-6{
                width: 100%; display: block; clear: both;
                .brand_title{
                  display: block;
                }
              }
            }
            .price_detail_container{
              min-height: 220px; padding: 27px 20px 20px !important; text-align: center;
              .plqty{
                float: none !important; margin: 25px 0 10px; width: 100%; display: block !important;
              }
              .dcw-list-page-customs{
                padding: 0; text-align: left;  padding-left: 0px; width: auto !important; display: inline-block !important;
                .green-txt{
                  .black_instock{
                    display: block;
                  }
                }
              }
            }
          }
          &:hover{
            .transform(scale(1.02)); box-shadow: none;
          }
        }
      }
    }
  }
}
.products.wrapper.list.products-list, .products.wrapper.grid.products-grid{
  ol{
    font-size: 0; border-top: 1px solid #ccc;
    li{
      .product-item-info{
        /*border: 1px solid #ccc; */
        .col-md-2{
          /*padding: 0;*/ padding-left: 0;
          a.product-item-photo{
            width: 100%;
            .product-image-container{
              .product-image-wrapper{
                .product-image-photo{
                  width: 75px; margin: 0 auto; object-fit: contain;
                }
              }
            }
            &:focus{
              outline: none;
            }
          }
          .checkbox{
            display: block; clear: both; width: 100%; padding: 3px 5px 3px 20px; margin: 0;
            input{
              margin-top: 3px;
            }
            form{
              width: auto; display: inline-block;
            }
            a{
              span{
                font-size: 12px; line-height: 19px; font-weight: 400; color: #004f88;
              }
              &.btn{
                background: #9b0005; color: @clr_white; height: 30px; padding: 5px 15px; border: 0; display: block; border-color: #d43f3a;  border-radius: 0;
                span{
                  color: @clr_white;
                }
                &:hover{
                  background: #c9302c; 
                  span{
                    color: @clr_white; text-decoration: none;
                  }
                }
              }
              &:hover{
                span{
                  text-decoration: underline; color: #9b0005; 
                }
              }
            }
          }
        }
        .col-md-5{
          padding-right: 0;
          &.border_line{
            border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding-right: 15px;
            @media only screen and(max-width: 991px){
              border: 0;
            }
          }
          h2{
            margin: 0; padding-bottom: 5px; line-height: 0px;
            a{
              font-size: 11px; color: #004f88; line-height: 12px; font-weight: 700; /*.dot_elips; height: 36px; -webkit-line-clamp: 3;*/ 
              display: block;
              &:hover{
                text-decoration: underline; color: #9b0005; 
              }
            }
          }
          .row{
            .col-md-2{
              padding-right: 0px; margin-top: 10px; padding-left: 15px;
              img.brand-logo{
                width: 50px; height: auto; min-width: 40px; margin: 0 auto; object-fit: contain;/* max-height: 50px;*/
              }
            }
            .col-md-4{
              line-height: 0px; /*    word-break: break-all; */
              span{
                color: #666666; font-size: 12px; line-height: 17px; display: inline-block;
                &.brand_title, &.cat_sku{
                  color: #333333; 
                }
                &.brand_title{
                  display: block;
                }
                &.cat_sku{
                  text-transform: uppercase;
                }
                a{
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
            .col-md-6{
              line-height: 0px; margin-bottom: 10px;
              small{
                a{
                  font-size: 10px; line-height: 15px; color: #666666; font-weight: 400;
                  &:hover{
                    text-decoration: underline;
                  } 
                }
              }
              .reseller_list_rating{
                .reseller_list_count{
                  .rating-stars{
                    ul{
                      display: inline-block; width: auto; font-size: 0; vertical-align: middle;
                      li{
                        font-size: 14px; line-height: 18px; color: #dddddd;
                        border: 0 !important; margin: 0; padding: 0; width: auto; display: inline-block;
                        .star_icon{
                          font-size: 20px; line-height: 20px; color: #dddddd;
                        }
                        &.selected{
                          .star_icon{
                            color: #ff9e32;
                          }
                        }
                      }
                    }
                  }
                  .reseller_list_score{
                    font-size: 12px; line-height: 17px; color: #666666; font-weight: 400; display: inline-block; width: auto; vertical-align: middle;
                  }
                }
              }
              .rr_cat_ratings{
                .rating_anchor{
                  .reviews{
                    .acs_rating_bar{
                      span{
                        font-size: 18px; line-height: 19px;
                      }
                    }
                    .acs_prod_review_count{
                        font-size: 11px; line-height: 19px;
                    }
                  }
                  &:hover{
                    .acs_prod_review_count{
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          .price_detail_container{
            background: #ececec; padding: 15px 5px; font-size: 12px; line-height: 17px; 
            @media only screen and(max-width: 767px){
              text-align: center;
            }
            .priceguarentee{
              text-align: right; margin-bottom: 7px;
              @media only screen and(max-width: 767px){
                text-align: center;
              }
              a{
                color: #019901; font-size: 11px; line-height: 16px; font-weight: 600;
              }
              span{
                color: #019901; font-size: 11px; line-height: 16px; font-weight: 400;
              }
              i{
                font-size: 14px; color: #019901;
              }
            }
            .red-txt{
              display: inline-block; vertical-align: middle;
              .price_only{
                display: block; color: #9b0005; font-size: 12px; line-height: 17px; font-weight: 700; width: 100%;
              }
              .old-price{
                color: #9b0005; font-size: 12px; line-height: 17px; font-weight: 700;
              }
            }
            .price-box{
              display: inline-block; margin: 0;
              .price-container{
                .price-wrapper {
                  .price{
                     font-size: 12px; line-height: 17px; color: #9b0005; font-weight: 700; vertical-align: bottom;
                  }
                }
              }
            }
            .info_img{
              display: inline-block; padding-left: 0px; vertical-align: middle; cursor: pointer;
              img{
                object-fit: contain;
              }
            }
            .clear;
            .plqty{
              display: inline-block; float: right; margin-right: 15px; margin-bottom: 5px;
              form{
                label, .label{
                  font-size: 12px; line-height: 17px; color: #333333 !important; font-weight: 400; margin: 0; vertical-align: top;
                }
                input{
                  display: inline; position: relative; text-align: center; top: 1px; width: 20px; padding: 0; height: 24px; top: 0px; margin: 0 1px;
                }
                button{
                  background: #9b0005; color: @clr_white; margin-bottom: 0px; border-radius: 0px; height: 24px; padding: 0 0px 0 6px; border: 0;
                  vertical-align: top;
                  i{
                    padding: 0 5px; font-size: 12px;
                    &.fa-caret-right{
                      padding-right: 2px;
                    }
                  }
                  &.seeprice{

                  }
                  &.callforprice, &.seepriceincart{
                    padding: 0 2px 0 3px;
                  }
                  &.callforprice{
                    margin-right: 15px;
                    i{
                      font-size: 14px; padding-left: 0;
                    }
                  }
                  &:hover{
                    background: #c9302c;
                  }
                }
              }
            } 
            .dcw-list-page-customs{
              display: block; clear: both; width: 100%; line-height: 12px;
              @media only screen and(max-width: 767px){
                display: inline-block; width: auto;
              }
              .green-txt{
                font-weight: 600; display: block;
                .hide_popup{

                }
                span{
                  padding: 0; margin: 0; font-weight: 400;
                }
                .grntxt_instock, .black_instock{
                  font-size: 10px; line-height: 15px; color: #019901; margin-bottom: 0; display: inline-block;
                }
                .grntxt_instock{
                  cursor: pointer; font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}