/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Footer 
------------------*/
footer{
	.footer.content{
		max-width: 1366px; padding: 0 15px;
	}
	.footer-col{
		width: 100%; display: inline-block;
		> div{
			width: 25%; float: left;
			@media only screen and (max-width: 767px){
				width: 100%; 
			}
			.clear;
		}
	}


	.social_media{
		display: block;
		a{
			width: 40px; height: 40px; display: inline-block; background: fade(@clr_black, 80%); border-radius: 100%; line-height: 42px; text-align: center; color: #fff; 
			.transition(all 0.3s ease-in-out);
			em{
				margin-left: 4px;
			}
			&:hover{
				.animation(shadow_pulse 0.5s 1); /* This is from Variable page */
			}
		}
	}
}


.page-footer{
	padding: 0; box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); position: relative; width: 100%; max-width: 1024px; margin: 0 auto;
	@media only screen and(max-width: 767px){
		margin-top: 0;
	}
	.search_bottom_content{
		text-align: center; padding: 15px;
		@media only screen and(min-width: 768px){
			display: none;
		}
		p{
			color: #062b53; font-size: 16px; padding: 0 12px; line-height: 24px; margin-bottom: 0;
			strong{
				a{
					color: #062b53; 
				}
				@media only screen and(max-width: 480px){
					display: block;
				}
			}
		}
	}
	.foot1{
		background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(255,255,255,1) 100%) !important;
		.row{
			display: flex; flex-wrap: wrap;
			.sinc{
				width: 19% !important;
				@media only screen and(max-width: 991px){
					width: 33.3% !important;
				}
				@media only screen and(max-width: 767px){
					width: 100% !important; text-align: center;
					p{
						a{
							img{
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
		h3{
			color: #062b53 !important;    margin-bottom: 20px !important; margin-top: 20px !important;
			@media only screen and(max-width: 767px){
				margin-bottom: 10px !important; margin-top: 15px !important;
			}
		}
		ul{
			&.social-links{

			}
			&.our_memberships{
				li{
					padding: 0;
					a{
						margin: 0 auto;
						img{
							width: 100%; max-width: 150px;
						}
					}
				}
			}
			li{
				font-size: 12px; margin: 5px 0 !important; width: 100%; display: inline-flex;
				a{
					color: #004f88 !important;
					em,i{
						background: #737373; border-radius: 3px; color: #fff; height: 24px; line-height: 24px; margin-right: 10px; text-align: center; 
						width: 24px; text-align: center; padding-left: 4px; font-family: @FontAwesome; font-weight: 400;
						&.fa-facebook {
						    background: #062b53;
						}
						&.fa-twitter {
						    background: #36bede;
						}
						&.fa-youtube {
						    background: #ef0f24;
						}
						&.fa-wordpress {
						    background: #595959;
						}
						@media only screen and(max-width: 1200px){
							margin-right: 7px;
						}
						@media only screen and(max-width: 991px){
							margin-right: 10px;
						}
					}
					&:hover{
						color: #9b0005 !important;
						em, i{
							background: #9b0005;
						}
					}
				}
			}
			&.Secure_Shopping{
				font-size: 0;
				li{
					width: 50%; margin: 0 !important; display: inline-block; vertical-align: top; padding: 5px;
				}
			}
		}
		.call_us_ft{
			color: #062b53; font-size: 12px; margin-bottom: 10px; margin-top: 10px;
			span{
				font-family: @franchiseregular; font-size: 19px;
			}	
		}

	}
	.inner-container{
		background: #062b53; padding: 10px 30px 30px 30px;
		@media only screen and(max-width: 767px){
			padding: 0 15px;
			.col-xs-12{
				width: 50%;
			}
		}
		h3{
			border-bottom: 1px solid #9b0005; font-size: 12px; font-weight: 600; padding-bottom: 5px; text-transform: uppercase;
			line-height: 21px; color: #c4c4c4; margin-bottom: 5px; margin-top: 20px;
			@media only screen and(max-width: 767px){
				margin-top: 15px;
			}
		}
		ul{
			margin-bottom: 10px;
			li{
				margin-bottom: 0;
				a{
					color: @clr_white; font-size: 12px; line-height: 18px; display: block;
					@media only screen and(max-width: 480px){
						font-size: 12px;
					}
					&:hover{
						text-decoration: underline; color: #c4c4c4;
					}
				}
			}
			.clear;
		}
	}
	.foot1{
		@media only screen  and(max-width: 767px){
			h3{
				&:after{
					color:#062b53 !important;
				}
			}
			.col-xs-12.active{
				h3{
					&:after{
						content: '\f077';
					}
				}
			}
		}
	}
	.foot2, .foot1{
		@media only screen and(max-width: 767px){
			padding: 0 15px 30px; 
			.col-xs-12{
				width: 100%;
				h3{
					&:after{
						content: '\f078'; position: absolute; font-family: @FontAwesome; font-weight: 400; right: 15px; color: @clr_white;
					}
				}
				ul{
					display: none;
				}
				&.active{
					h3{
						&:after{
							content: '\f077';
						}
					}
				}
			}
		}
	}
	.base_footer{
		background: #1f5ca0; padding: 10px 30px;
		@media only screen and(max-width: 480px){
			padding: 10px 15px;
		}
		p{
			color: @clr_white; font-size: 13px; margin-bottom: 0; line-height: 18px;
			a{
				color: #85c7fd;
			}
		} 
	}
}
div a.back_to_top{
	bottom: 3px; font-size: 12px; position: fixed; right: 55px; color: #FB0002 !important; cursor: pointer; display: block !important; text-decoration: none;
	@media only screen and(max-width: 767px){
		display: none !important;
	}
	i,em{
		background-color: rgba(0, 0, 0, 0.3); color: @clr_white; display: block; font-size: 23px; margin: 0 auto; text-align: center; line-height: 23px;
    	text-decoration: none; width: 30px; display: block; font-family: @FontAwesome; font-weight: 300;
    	&:before{
    		padding-left: 7px;
    	}
	    &:hover{
	    	background-color: rgba(0, 0, 0, 0.6); color: @clr_white; text-decoration: none;
	    }
	}
}
div a.questions-ad{
	animation: 3s ease 0s normal forwards 1 running centerme; position: fixed; right: 5px; top: inherit; z-index: 999; bottom: 16.5%;
	@media only screen and(max-width: 1300px){
		max-width: 100px;
	}
	@media only screen and(max-width: 1200px){
		max-width: 90px;
	}
	@media only screen and(max-width: 1024px){
		max-width: 80px;
	}
	@media only screen and(max-width: 991px){
		display: none;
	}
	img{
		width: 100%;height: auto; object-fit: contain; cursor: pointer;
	}
}