/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* PDP page
------------------*/
body.catalog-product-view.page-layout-1column{
	/* Left Column 
	=======================================*/
	.column.main{
		@media only screen and(max-width: 991px){
			width: 100%; display: flex;flex-wrap: wrap; flex-direction: column; padding: 15px !important;
			.product.media{
				order: 1; width: 100%; padding: 0px;
			}
			.product-info-main{
				order: 2;	width: 100%; padding: 0px; margin-bottom: 30px;
			}
			.product.info.detailed{
				order: 3; width: 100%; padding: 0px; margin-bottom: 30px;
			}
		}
	}
	.product.media{
		width: 24%; margin: 15px 0 30px 0; padding: 0 5px 0 15px;  position: relative;
		@media only screen and (max-width: 767px){
			width: 100%; padding: 15px 0;
		}
		.gallery-placeholder{
			position: relative; width: 100%; padding: 0px; min-height: 240px; margin-bottom: 30px;  display: block;
			.loading-mask{
				position: absolute; z-index: 1; max-height: 240px; height: 100%;
				@media only screen and(max-width: 991px){
					padding-bottom: 30% !important;
				}
				@media only screen and(max-width: 767px){
					padding-bottom: 37% !important;
				}
				@media only screen and(max-width: 991px){
					padding-bottom: 90% !important;
				}
				.loader{
					img{
						z-index: 1;
					}
				}
			}
			.fotorama__stage{
				min-height: 220px; background: @clr_white; border: 1px solid #ccc; padding: 0px; margin-bottom: 10px; max-height: 240px;
				*{
					max-height: 240px;
				}
			}
		}
		.inside-img-reviews{
			padding-left: 0 !important;
			.undefined{
				#RR_Product_Widget{
					.leftPanel{
						width: 49%; float: left;
						@media only screen and(max-width: 991px){
							width: 30%; display: inline-block;
						}
						@media only screen and(max-width: 767px){
							width: 50%; display: inline-block;
						}
						img{
							width: 100%; height: auto; object-fit: contain;
						}
					}
					br{
							display: none;
					}
					#RR_PR_Widget_Wrapper, .rightPanel{
						width: 51%; float: right; padding-left: 5px;
						@media only screen and(max-width: 991px){
							width: 30%; display: inline-block; vertical-align: top;
						}
						@media only screen and(max-width: 767px){
							width: 50%; display: inline-block;
						}
						.review_top_content{
							display: inline-block;
							.reseller_list_count{
								.rating-stars{
									display: inline-block; text-decoration: none !important;
									ul{
										display: inline-block; font-size: 0; vertical-align: top;
										li{
											display: inline-block; width: auto; margin-bottom: 0; font-size: 14px; line-height: 16px;
											span{
												color: #dddddd; font-size: 15px;line-height: 16px;
											}
											&.selected{
												span{
													color: #ff9e32;
												}
											}
										}
									}
									span{
										font-size: 12px;line-height: 17px; display: inline-block; vertical-align: top;
									}
								}
							}
						}
						.review_bottom_content{
							line-height: 15px;
							a{
								color: #004f88; font-size: 12px; line-height: 17px; cursor: pointer;
								&:hover{
									color: #9b0005; text-decoration: underline;
								}
							}
							span{
								color: #333333; font-size: 12px; line-height: 17px; cursor: pointer;
							}
						}
						#answ_reviews_widget{
							#acs_product_reviews_widget{
								.acs_score_wrapper{
									.acs_rating_bar{
										span{
											font-size: 14px;line-height: 17px;
										}
									}
									.acs_widget_rating{
										color: #333333; font-size: 12px; line-height: 17px;
									}
								}
								.acs_widget_links, .review_bottom_content{
									a{
										color: #004f88; font-size: 12px; line-height: 17px;
										&:hover{
											color: #9b0005;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.pop_img{
			text-align: right; position: absolute; top: 6px; right: 12px; z-index: 2; cursor: pointer;
		}

	}

	/* Gallery design
	----------------------------------*/
	.fotorama-item {
		.fotorama__wrap{
			 /* Gallery big images

			/* Thumb nail wrapper 
			--------------------*/
			.fotorama__nav-wrap{
				height: 70px;
				/* Thumbnail section
				-----------------------*/
				.fotorama__nav{
					.fotorama__nav__shaft{
						padding: 0 15px;
						.fotorama__thumb-border{ 
							width: 75px !important; height: 75px !important;     .transform(none) !important; display: none;
						}

						/* Thumb nail Images 
						----------------------*/
						.fotorama__nav__frame{
							width: 65px !important; height: 65px !important;
							&.fotorama__nav__frame--thumb{
								@media only screen and(max-width: 767px){
									display: inline-block; padding-right: 3px;
								}
								.fotorama__thumb{
									border: 2px solid fade(#004f88, 30%); padding: 5px; background: @clr_white;
									.fotorama__img{
										height: 100%; object-fit:contain; left: 0;
									}
								}
								&.fotorama__active{
									.fotorama__thumb{
										border: 2px solid #004f88; transform: translate3d(0px, 0px, 0px);

									}
								}
							}

							/* Thumb nail Dots 
							--------------------*/
							&.fotorama__nav__frame--dot{
								display: none;
							}
						}
					}

					/* Thumb nail Arrows 
					--------------------*/
					.fotorama__thumb__arr{
						display: block !important; height: 70px;
					}
				}

				/* Thumb horizontal view 
				----------------------*/
				&.fotorama__nav-wrap--horizontal{
					.fotorama__nav__shaft{
						height: 70px;
					}
				}

				/* Thumb vertical view
				--------------------*/
				&.fotorama__nav-wrap--vertical{

				}
				
			}
			
			/* Gallery caption 
			--------------------*/
			.fotorama__stage__frame{
				.fotorama__caption{
					display: none;
				}
			}
		}
	}
	/* Gallery design ends
	----------------------*/


	/* Right Column 
	=======================================*/
	.product-info-main{
		width: 76%; margin-bottom: 30px; padding: 15px 15px 0 25px;
		@media only screen and (max-width: 767px){
			width: 100%; padding: 0; 
		}
		.page-title-wrapper{
			padding: 0 !important; width: 75%; float: left;
			.page-title{
				padding: 0; border: 0; margin-top: 0; margin-bottom: 15px; 	
				span.base{
					color: #004f88; font-size: 19px; font-weight: 600; margin-top: 0; line-height: 26px; text-transform: none; display: block; 
					font-family: @OpenSans;
					/*.dot_elips; height: 76px; -webkit-line-clamp: 3;*/
				}
			}
		}
		.detail_brand_logo{
			float: right; width: 25%; position: relative; padding-bottom: 9.5%;
			@media only screen and(max-width: 480px){
				padding-left: 10px; padding-bottom: 20%;
			}
			img{
				position: absolute; top: 0; left: 0; object-fit: contain; height: 100%; width: 100%; padding: 0 0 0 10px;
			}
		}
		.clear;
		.sku_brand{
			/*clear: both;*/ display: block; width: 70%; 
			@media only screen and(max-width: 767px){
				clear: both;
			}
			.sku_name, .sku_detail{
				font-size: 14px; line-height: 20px; color: #333333; font-weight: 700; display: inline-block; width: 37%;
				@media only screen and(max-width: 767px){
					width: 50%;
				}
				@media only screen and(max-width: 480px){
					width: 100%;
				}
			}
			.sku_detail{
				width: 63%;
				@media only screen and(max-width: 767px){
					width: 50%;
				}
				@media only screen and(max-width: 480px){
					width: 100%;
				}
			}
		}
		.ship_availble{
			background: #F5F5F5; clear: both; padding: 15px 12px 5px; border-top: 1px solid #EEE; margin-top: 16px; margin: 10px 0px 0px 0px; min-height: 95px;
			position: relative;
			.grntxt_instock, .black_instock{
				margin-bottom: 15px; font-size: 14px; line-height: 20px; font-weight: 600; 
			}
			.hide_popup{

			}
			.grntxt_instock{
				cursor: pointer;
			}
			.black_instock{
				font-weight: 400;
			}
			.pull-right{
				@media only screen and(max-width: 767px){
					float: none !important; width: 100%; display: block;
				}
			}
		}
		.product-info-price{
			color: #808080; border-top: 1px solid #E2E2E2; background-color: #eee; margin-bottom: 0px !important; min-height: 00px; padding: 19px 19px 10px;  
			position: relative;
			@media only screen and(max-width: 767px){
				margin: 0; width: 100% !important;
			}
			.price-box{
				display: block;  width: 25%;float: left; position: static; padding-bottom: 0;
				.price-wrapper{
					margin-bottom: 0;
				}
				@media only screen and(max-width: 767px){
					width: 100%; position: static; padding: 0; float: none;
				}
				.price{
					font-size: 20px; line-height: 22px; color: #9b0005; font-weight: 700;
					.custom_price_lable{
						font-size: 14px; line-height: 20px; color: #808080; display: block; margin-bottom: 15px;
					}
				}
				.img_info{
					background: url('../images/info.png') no-repeat; width: 16px; height: 16px; background-size: contain; display: inline-block;
					vertical-align: middle;  cursor: pointer;
				}

			}
			.label{
				font-size: 14px; line-height: 20px; color: #808080 !important; display: block; margin-bottom: 15px; padding: 0; text-align: left;
			}
			.dcw_price_container{
				strong{
					span{
						font-size: 20px; line-height: 22px; color: #9b0005; font-weight: 700;
						&.old-price{
						}
						&.price_only{
						}
					}
				}
				.priceguarentee_blue{
					font-size: 10px; line-height: 11px; color: #004f88; font-weight: 700;
					i{
						font-size: 14px; line-height: 14px; color: #004f88; font-weight: 700;
					}
					.price{
						font-size: 10px; line-height: 11px; color: #004f88; font-weight: 700;
					}
				}
				.priceguarentee_blue + .dcw-list-page-customs{
					margin-top: 15px;
				}
			}
			.dcw-list-page-customs{
				padding: 0; margin-top: 0px; width: 100%; line-height: 0; margin-top: -3px;
				@media only screen and(max-width: 767px){
					width: 100%; margin-top: 0; line-height: 10px; margin-bottom: 15px;
				}
			}
			.box-tocart{
				padding-left: 0; width: 50%; margin-bottom: 0;
				@media only screen and(max-width: 767px){
					width: 100%; margin-bottom: 15px; padding: 0;
				}
				.fieldset{
					width: 100%;  margin-bottom: 10px;
					.field{
						width: 40%; display: inline-block; vertical-align: top; margin-bottom: 0;
						label{
							display: block; padding: 0; width: auto; text-align: left;
							span{
								font-size: 14px; line-height: 20px; color: #808080; font-weight: 700;
							}
						}
						.control{
							width: auto; display: inline-block; position: relative;
							input{
								height: 30px; padding: 5px 10px; font-size: 12px; line-height: 18px; color: #555555; width: 62px;
							}
							a{
								position: absolute; top: 0; right: -23px; font-size: 7px; padding: 2px 3px; border: 1px solid #ccc; background: @clr_white;
								text-align: center; width: 24px;
								&#decrement_qty{
									bottom: 0; top: auto;
								}
								.decre, .incre{
									color: #333333;
								}
								.incre{

								}
							}
						}

					}
					.actions{
						display: inline-block;  width: 60%;vertical-align: top;
						a{
							font-size: 14px; line-height: 20px; font-weight: 400; color: #004f88; display: block; text-decoration: underline;
							margin-bottom: 10px;
							&:hover{
								color: #9b0005;
							}
						}
						button{
							font-size: 18px; line-height: 24px; color: @clr_white; font-weight: 400; background: #9b0005; margin: 0;
							padding: 6px 10px; width: auto; height: auto; min-height: 45px; text-transform: none; border-color: #ac2925; font-family: @OpenSans;
							@media only screen and(max-width: 767px){
								font-size: 16px;
							}
							i{
								font-family: @FontAwesome; font-weight: 400; font-size: 24px; padding-right: 7px;
							}
							span{
								vertical-align: top;
							}
							&:hover{
								background: #c9302c;
							}
							&.callforprice{
								min-height: 34px; font-size: 14px; line-height: 20px; padding: 5px 13px; margin: 0 10px;
								i{
									font-size: 14px; line-height: 20px; padding-right: 4px;
								}
							}
						}
					}
				}
			}
			.calculate_shipping{
				/*float: right; width: 30%;*/ padding: 0; width: 25%;
				@media only screen and(max-width: 767px){
					width: 100%;
				}
				a{
					font-size: 14px; line-height: 20px;  color: #004f88; display: block; text-decoration: underline;
					&:hover{
						color: #9b0005;
					}
				}

				span{
					font-size: 14px; line-height: 20px; font-weight: 400; color: #808080;
					&:before{
						content: ''; background: url('../images/autoship_24.png') no-repeat; background-size: contain; display: inline-block; 
						height: 24px; position: relative; top: 6px; width: 24px;
					}
				}
			}
			.clear;
		}
		.product-social-links{
			margin: 0;
		}
	}
	.product.info.detailed{
		padding: 30px 15px 5px; margin-bottom: 30px; border-top: 1px solid #eee;
		.product.data.items{
			margin-bottom: 0;
			@media only screen and(max-width: 767px){
				margin: 0;
			}
			.data.item.title, strong .data.item.title{
				margin: 0px 3px 0 0;
				a{
					border-radius: 0; color: #666; text-transform: uppercase; text-decoration: none; display: block; text-transform: uppercase;
					font-size: 15px; padding: 1px 15px;
					@media only screen and(max-width: 1200px){
						padding: 1px 25px;
					}
					@media only screen and(max-width: 991px){
						padding: 5px 7px; height: 30px; font-size: 13px; line-height: 18px;
					}
					@media only screen and(max-width: 767px){
						padding: 5px 7px; height: 37px; font-size: 15px; line-height: 24px;
						&:after{
							top: 6px;
						}
					}
				}
				&.active{
					a{
						color: #9b0005; cursor: default; background-color: #fff; text-decoration: none; 
						border: 1px solid #ccc; border-bottom-color: transparent; border-radius: 0; height: 41px;
						@media only screen and(max-width: 991px){
							height: 31px;
						}
						&:focus{
							outline: none; box-shadow: none;
						}
					}
				}
			}
			.data.item.title.active + .data.item.content{
				display: block !important;
			}
			.data.item.content{
				margin-top: 40px; padding: 15px 25px; display: none;
				@media only screen and(max-width: 991px){
					margin-top: 30px;
				}
				@media only screen and(max-width: 767px){
					border: 1px solid #ccc; margin-top: 0; border-bottom-color: transparent; border-top-color: #9b0005; padding: 15px;
				}
				.product.attribute.description{
					margin-bottom: 15px;
					.value{
						h2.description_custom_titles{
							border-bottom: 2px solid #cc0000; font-size: 16px !important; font-weight: bold; margin-bottom: 10px !important; padding-bottom: 5px;
 							text-transform: uppercase; color: #333; margin-top: 20px;
						}
					}
					p{
						font-size: 14px; line-height: 20px; color: #333333; font-weight: 400;
					}
					ul{
						list-style: disc !important; padding-left: 40px;
						li{
							font-size: 14px; line-height: 22px; color: #333333; font-weight: 400; margin-bottom: 0;
						}
					}
				}
				.manuals_tab{
					a{
						display: inline-block; color: #004f88; font-size: 14px; line-height: 20px; 
						&:hover{
							color: #9b0005; text-decoration: underline;
						} 
						img{
							display: inline-block; width: 16px; height: 16px;
						}
					}
				}
				.additional-attributes-wrapper{
					.Specifications-box{
						.row{
							.v-line-right{
								border-right: 2px solid #ccc;
								@media only screen and(max-width: 991px){
									border-right: 0px solid #ccc; border-bottom: 2px solid #ccc; margin-bottom: 20px;
								}
							}
						}
					}
					#product_tabs_repairparts_contents{
						.row.vcenter{
							@media only screen and(max-width: 767px){
								.col-sm-2{
									width: 30%; float: left;
								}
								.col-xs-10{
									width: 70%; float: right; padding: 0;
								}
							}
							.clear;
						}
						h4{
							margin: 0 0 10px; font-size: 16px;
							&.tabs-title{
								font-size: 20px;
							}
						}
						strong{
							font-size: 14px;
						}	
						.row{
							.col-md-2{

							}
							.col-xs-10{
								padding: 55px 15px 15px;
								a{
									color: #004f88; 
									&:hover{
										text-decoration: underline; color: #9b0005;
									}
								}
							}
						}
						.additional-attributes-wrapper{
							#product_tabs_repairparts_contents{
								.related_pdp{
									.leftsection{
										span{
											font-size: 30px; line-height: 34px; font-weight: 400; color: #333333;  display: inline-block;
											@media only screen and(max-width: 767px){
												font-size: 22px; margin-bottom: 5px;
											}
										}
									}
									
									.rightsection{
										a{
											background: #9b0005; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 20px;
						    				text-align: center; vertical-align: middle; cursor: pointer; 
						    				color: #fff; text-decoration: none; margin: 0 0; display: inline-block; text-transform: capitalize; 
						    				&:after{
						    					content: ''; background: url('../images/manual-icon-b-white.png') no-repeat; background-size: contain;
						    					width: 16px; height: 16px; display: inline-block; margin-left: 7px; vertical-align: middle;
						    				}
						    				&:hover{
						    					background: #c9302c;
						    				}
										}
									}
								}
								hr{
									margin: 12px 0;
								}
								.row.vcenter{
									text-align: center; margin: 0;
									div{
										width: 100%; position: relative; padding-bottom: 59%; height: 100%;
										img{
											width: 100%; object-fit: contain; position: absolute;top: 0; left: 0; height: 100%;
										}
									}
								}
							}
							.block.related{
								margin-bottom: 0;
							}
							.block-content {
								.row{
									margin: 0;
									> div{
										border-right: 1px solid #ccc;
										&:last-child{
											border: none;
										}
										@media only screen and(max-width: 991px){
											&.col-md-5{
												border-right: 0;
											}
										}
									}
								}
								.realted_title{
									padding: 10px 0px; background: #eee;
									.block-actions {
										strong{
											padding: 6px 00px 0; 
										}
									}
									.block-actions .qty-message {
									    margin: 0; float: none; display: block; text-align: left;
									}
									strong{
										font-size: 16px; line-height: 23px; color: #333333; font-weight: 700; vertical-align: middle; padding: 13px 10px 0; 
										min-height: 45px; display: inline-block;
										button, button.addalltocart{
											background: #9b0005; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 20px;
						    				text-align: center; vertical-align: middle; cursor: pointer;  border-radius: 0;
						    				color: #fff; text-decoration: none; margin: 0 0; display: inline-block; text-transform: capitalize; 
						    				&:hover{
						    					background: #c9302c;
						    				}
						    				i{
						    					padding-right: 5px;
						    				}
						    				@media only screen and(max-width: 767px){
						    					font-size: 13px; font-weight:  600;
						    				}
										}
									}
									.check_selecting{
										float: right; width: auto;
										label{
											font-size: 11px; line-height: 16px;  color: #333333 !important; font-weight: 700;
											&:after{
												content: '\f096'; font-family: @FontAwesome; font-size: 18px; vertical-align: middle; 
												margin: 10px 0 0 0; display: block; color: #333333 !important; text-align: center;
												@media only screen and(max-width: 767px){
							    					margin-top: 7px;
							    				}
											}
											&.checked{
												&:after{
													content: '\f14a';
												}
											}
											@media only screen and(max-width: 767px){
												span{
													display: block;
												}
											}
										}
									}
									.clear;
									.col-md-2{
									}
									.col-md-5{

									}
								}
								.related_content{
									.products.wrapper{
										ol{
											li{
												margin: 0; width: 100%;
												/*&:last-child{
													border-bottom: 0 !important;
												}*/
												@media only screen and(max-width: 767px){
													width: 50%; padding: 10px;
												}
												@media only screen and(max-width: 567px){
													width: 100%;
												}
												.product-item-info{
													> div{
														padding: 0 15px;
														&:last-child{
															border: none;
														}
														strong{
															margin: 0;
														}
														.related_price_section{
															width: 68%; float: left;
															@media only screen and(max-width: 767px){
																width: 100%; float: none;
															}
															.price-box {
																margin: 0 0 10px ;
																.dcw_price_container{
																	.price-container{
																		.price{
																			font-size: 12px; line-height: 15px; color: #9b0005; font-weight: 700;
																		}
																	}
																	.dcw-list-page-customs {
																		display: none;
																	}
																}
																.label{
																	display: none;
																}
																.dcw_price_container{
																	strong.red-txt{
														              display: inline-block; vertical-align: middle;
														              .price_only{
														                display: block; color: #9b0005; font-size: 12px; line-height: 17px; font-weight: 700; width: 100%;
														              }
														              .old-price{
														                color: #9b0005; font-size: 12px; line-height: 17px; font-weight: 700;
														              }
														            }
																	.priceguarentee_blue{
																		display: none;
																	}
																}
																.old-price{
																	margin: 0;	
																}
																.img_info{
																	background: url('../images/info.png') no-repeat; width: 16px; height: 16px; display: inline-block; background-size: contain;
																	cursor: pointer;vertical-align: middle; margin-left: 3px;
																}
															}
															.green-txt{
																display: block;
																@media only screen and(max-width: 767px){
																	display: inline-block; width: auto; text-align: left; margin-bottom: 10px;
																}
																.grntxt_instock{
																	cursor: pointer;
																}
																.grntxt_instock, .black_instock{
																	margin: 0; font-size: 10px; line-height: 15px; color: #019901;
																}
																.black_instock{
																	@media only screen and(max-width: 767px){
																		display: block;
																	}
																}
															}
														}
														.related_qty_sect{
															width: 32%; float: right;
															@media only screen and(max-width: 767px){
																width: 100%; float: none;
															}
															.field.choice{
																position: static; margin-bottom: 5px;
																label{
																	/*display: inline-block; */font-size: 12px; line-height: 17px; color: #333333 !important; font-weight: 400;
																	padding-right: 5px; margin: 0; text-transform: uppercase; position: static;
																	vertical-align: middle;
																}
																input{
																	/*display: inline-block; margin: 0; vertical-align: middle;*/
																}
																input[type=checkbox]{
																   display: none;
																   &+label, &+span.label{
																    &:after{
																      content: ''; cursor: pointer; border: 1px solid #ccc; background: #f2f2f2;
																      width: 13px; height: 13px; display: inline-block; margin-left: 6px; vertical-align: middle;
																      border-radius: 3px;
																    }
																   }
																   &:checked{
																     &+label, &+span.label{
																        &:after{
																         background-image: url('../images/white_tick.png');  width: 13px; height: 13px; background-size: contain; 
																         vertical-align: middle; background-color: #ed653f; border-color: #ed653f; 
																         background-position: 2px; background-repeat: no-repeat; background-size: 8px;
																       }
																     }
																   }
																}
															}
															.related_addtocart_sec{
																label{
																	display: inline-block; font-size: 12px; line-height: 17px; color: #333333; font-weight: 400;
																	padding-right: 5px; margin: 0;  display: inline-block;
																}
																
															}
														}
														.clear;
														.custom_related_title{
															strong{
																a{
																	color: #004f88; font-size: 11px; line-height: 12px; font-weight: 700;
																	display: block; padding: 0 10px;
																	&:hover{
																		color: #9b0005;
																	}
																}
															}
														}
														.related_sku_section{
															margin: 5px 0;
															.related_logo_sec{
																width: 19%; float: left; 
																@media only screen and(max-width: 767px){
																	width: 100%; float: none;
																	img{
																		width: 50px; height: auto; margin: 0 auto;
																	}
																}
															}
															.related_sku_key{
																width: 81%; float: right; padding-left: 15px; line-height: 12px;
																@media only screen and(max-width: 767px){
																	width: 100%; float: none;
																}
																.brand_title{
																	font-size: 12px; line-height: 17px; color: #333333; font-weight: 400;
																}
																.related_sku{
																	.cat_sku{
																		font-size: 12px; line-height: 17px; color: #333333; font-weight: 400; text-transform: uppercase;
																	}
																	a{
																		font-size: 12px; line-height: 17px; color: #666666; font-weight: 400;
																		&:hover{
																			text-decoration: underline;
																		}
																	}
																}
																.related_key{
																	.cat_key{

																	}
																	span{
																		font-size: 12px; line-height: 17px; color: #9b0005; font-weight: 700;
																	}
																}
															}
															.clear;
														}
														.related_read_ask{
															display: block;  width: 100%; clear: both;
															small{
																a{
																	font-size: 10px; line-height: 15px; color: #666666; font-weight: 400; 
																	&:hover{
																		text-decoration: underline;
																	}
																}
															}
														}
														.bckgd_color{
														    min-height: 20px; padding: 19px; margin-bottom: 0px; background-color: #f5f5f5; 
														    border: 1px solid #e3e3e3; border-radius: 4px; 
														    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
														    @media only screen and(max-width: 991px){
														    	margin-bottom: 0; margin-top: 5px;
														    }
														    .clear;
														}
													}
													.col-md-2{

													}
													.col-md-5{
														&.bg_space{
															padding-right: 0;
															@media only screen and(max-width: 991px){
																width: 100%; padding-left: 0;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					#product_tabs_question_contents{
						._questions{
							._questions_in{
								.col-xs-6{
									span{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.block.amshopby-morefrom{
		padding:  0 15px; margin-bottom: 0;
		@media only screen and(max-width: 991px){
			order: 4; padding: 0;
		}
		.block-title{
			border: 0; 
			strong{
				border-bottom: 2px solid #cc0000; font-size: 20px !important; font-weight: bold; margin-bottom: 10px !important; padding-bottom: 5px;
	 			text-transform: uppercase; color: #333; margin-top: 20px; display: block; width: 100%;
	 			@media only screen and(max-width: 767px){
	 				font-size: 18px !important;
	 			}
			}
		}
		.block-content{
			.products.wrapper.grid.products-grid.products-morefrom{
				border: none;
				ol{
					.slick-arrow {
		              font-size: 0; padding: 0; position: absolute; top: 42%; .transform(translateY(-50%)); background: none; border: 0; z-index: 10; 
		              background: @clr_white !important;
		              &.slick-prev{
		                left: 2px; right: auto; box-shadow: 0px 0 10px #ccc inset !important;
		                &:after{
		                  content: ''; background: url('../images/arrows.png') no-repeat; width: 25px; height: 36px; background-size: 50px; display: block;
		                }
		              }
		              &.slick-next{ 
		                right: 2px; left: auto; box-shadow: 0px 0 10px #ccc inset !important;
		                &:after{
		                  content: ''; background: url('../images/arrows.png') no-repeat; width: 25px; height: 36px; background-size: 50px; background-position: -25px;
		                  display: block; position: relative; top: 2px;
		                }
		              }
		            }
					li{
						width: 16.66%;
						@media only screen and(max-width: 1200px){
							width: 20%;
						}
						@media only screen and(max-width: 991px){
							width: 25%;
						}
						@media only screen and(max-width: 567px){
							width: 50%;
						}
						@media only screen and(max-width: 320px){
							width: 100%;
						}
						.product-item-info{
							border: 0;
							.product-item-photo{
								.product-image-container{
									.product-image-wrapper{
										background: #fff; border: 1px solid #dadada; position: relative; padding-bottom: 100% !important; display: block;
										.product-image-photo{
										    position: absolute; top: 50%; left: 0; width: 100%; height: auto; object-fit: contain; padding: 10px 17px; 
										    .transform(translateY(-50%)); max-height: 100%;
										}
									}
								}
							}
							.product-item-details{
								padding: 0;
								a{
								    font-size: 14px; line-height: 17px; text-align: left; 
								    display: block; display: -webkit-box; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2; 
								    -webkit-box-orient: vertical; color: #666; height: 34px; margin: 5px 0 10px;
								    &:hover{
								    	text-decoration: underline;
								    }
								}
							}
							&:hover{
								.transform(scale(1.05)); .transition( 0.3s all ease-in-out );
							}
						}
					}
				}
			}
		}
	}
}



#pop-up-div{
	display: block; width: 100%;
	p{
		color: #9b0005; padding: 15px; text-align: center; text-transform: uppercase; font-weight: 700;
	}
}

/*.repaire_parts_footer .addto-cart strong button.addalltocart:after{
    content: ''; background: url('../images/white_cart.png') no-repeat; display: inline-block; width: 16px; height: 16px; background-size: contain;     
    margin: 0px 0 0 15px; vertical-align: middle;
}
*/
.repaire_parts_footer button.addalltocart, .related_qty_sect button.addalltocart, .block.related button.addalltocart{
	background: #9b0005; padding: 9px 20px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 20px;
	text-align: center; vertical-align: middle; cursor: pointer;  border-radius: 0;
	color: #fff; text-decoration: none; margin: 0 0; display: inline-block; text-transform: capitalize; 
	&:hover{
		background: #c9302c;
	}
	i{
		padding-right: 5px;
	}
	@media only screen and(max-width: 767px){
		font-size: 13px; font-weight:  600;
	}
}
.related_qty_sect button.addalltocart, .block.related button.addalltocart{
	padding: 5px 8px; font-size: 12px; margin-top: 10px;
}

.repair-table, .cms-manual-part-finder .manual-result{
	margin-bottom: 20px;
	.clear;
	/*input[type="number"]{
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		    -webkit-appearance: "Always Show Up/Down Arrows" !important;
		    -webkit-appearance: inner-spin-button !important; margin: 0 !important; opacity: 1 !important;
		}
	}*/
	#cart_main{
		width: 100%;
		table{
			border-collapse: inherit; border: 0;
		}
		.table_data_product{
			overflow: auto;
		}
		p{
			color: #323232;
			&.total{
				white-space: nowrap; text-align: center;
			}
			span{
				display: inline-block;
			}
		}
		tr{
			font-size: 14px; vertical-align: middle;
		}
		th{
			font-size: 14px; vertical-align: middle; white-space: nowrap;
			p.shipping_cart{
				&:before{
					content: ''; background: url('../images/cart_icon.png') no-repeat;  width: 24px; height: 18px; display: inline-block;
					margin-right: 10px;vertical-align: sub;
				}
			}
			p.items{
				text-align: right;
			}
		}
		td{
			.grntxt_instock{
				margin-top: 0; display: block; cursor: pointer;
			}
			.black_instock{
				white-space: nowrap; display: block;
			}
			img{
				margin: 0 auto;
			}
			.repair_parts_title_name{
				display: -webkit-box; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2; min-width: 150px; height: 36px;
				-webkit-box-orient: vertical;
				@media only screen and (max-width: 567px){
					-webkit-line-clamp: 3; height: 54px;
				}
			}
		}
		td.empty_td{
			border: 1px solid #fff !important; border-right: 1px solid #B4B4B4 !important;
		}
		thead{
			background: #eee; border-bottom: 1px solid #B4B4B4;
			tr{
				> th{
					padding: 15px 10px; color: #323232;
				}
			}
		}
		tbody{
			tr{
				td{
					padding-left: 0; vertical-align: middle;
					&.cart_total_heading, &.cart_total_amount{
						padding-right: 0px; background: @clr_white;
					}
					&.addtocart_data{
						padding-right: 0px;
					}
					.cart_section{
						thead{
							th{
								padding: 8px; border: 1px solid #B4B4B4; color: #323232 !important; text-align: center; border-left: 0;
								&.delete_row_empty{
									border: 1px solid #fff; border-right: 1px solid #B4B4B4; background: #fff; width: 27px;
								}
								&.delete_row_empty + th{
									width: 87px;
								}
								&.Key_id{
									color: #9b0005 !important;
								}
								&.Key_id + th{
									width: 340px;
								}
								&.Key_id + th + th{
									width: 170px;
								}
								&:last-child{
									min-width: 69px;
								}
							}
						}
						td{
							color: #5D5D5E !important; padding: 8px; font-size: 13px; font-weight: 400; border: 1px solid #B4B4B4;
							text-align: center; border-left: 0; border-top: 0;
							&.delete_row{
								border: 1px solid #fff; border-right: 1px solid #B4B4B4; width: 27px; padding: 8px 3px;
								.delelte_grid_item{
									font-size: 0; padding-left: 0; display: block; cursor: pointer; 
									&:before{
										content: ''; background: url('../images/rubbish-bin.png') no-repeat;  width: 20px; height: 20px;
										display: block; vertical-align: middle; background-size: 20px;
									}
								}
							}
							&.key_td_id{
								color: #9b0005 !important; 
							}
						}
						.number-input{
							input{
								text-align: center; padding: 0 15px 0 5px; width: 60px !important;
							}
						}
					}
					td.mcafeesecure_td{
						border-right: 1px solid #fff; padding-left: 100px;
					}
					td.total_head{
						color: #5D5D5E !important; font-size: 13px; font-weight: 400; white-space: nowrap;     border-right: 1px solid #fff;
						p{
							color: #323232 !important; font-size: 14px; font-weight: 700;
						}
					}	
					td.total_amount{
						text-align: right; color: #5D5D5E !important; font-size: 14px; font-weight: 700;
						p{
							color: #323232 !important; font-size: 14px;
						}
					}
				}
			}
		}
	}
	.checkout{ 
		text-align: right; margin: 0 10px 15px 0;
		@media only screen and (max-width: 767px){
			margin-right: 0;
		}
		a {
		    display: inline-block; color: #fff; font-size: 13px; font-weight: 500; text-transform: uppercase; 
		    border: 1px solid #1d9b4f; background-image: linear-gradient(to top,#0a51aa -15.5%,#057bdf 115.5%); 
		    border-radius: 4px; padding: 10px; margin-left: 20px;
		}
	}
}


iframe#myiframe{
	@media only screen and (max-width: 480px){
		height: 400px !important;
	}
}


.btm, .number-input{
	position: relative; display: inline-block; width: 70px;
	input{
		font-size: 12px; line-height: 17px; color: #333333; font-weight: 400; padding: 0 5px;
	}
	button#adds, button.plus_cart_grid, button#subs, button.minus_cart_grid{
		position: absolute; right: 0; top: 0; border: 1px solid #adadad; border-radius: 0;
		width: 20px; height: 16px; line-height: 15px; padding: 0; margin: 0 !important;
	}
	button#subs, button.minus_cart_grid{
		bottom: 0; top: auto; font-size: 16px;
	}
	input.input-text.qty, input.quantity{
		height: 30px; width: 51px; text-align: center; border: 1px solid #b8b8b8;
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0; 
	}
}
.cms-manual-part-finder .manual-result{
	margin-top: 20px;
	#cart_main{
		float: none; width: 100%;
		.cart_section{
			tbody{
				tr{
					td{
						a{
							color: #9b0005;
							&:hover{
								color: fade(#9b0005, 60%);
							}
						}
					}
				}
			}
		}
	}
}

.cart-grid-messgae{
	color: #9b0005; margin-left: 15px; 
}