/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* PDP Prin page
------------------*/
@media print {
	@page {size: 0; margin: 0;}
	a[href]:after {
		content: none !important;
	}
	.book-date,
	.post-content {
		page-break-before: always;
	}
	p {
		page-break-inside: avoid;
	}


	body.catalog-product-view{
		*{
			box-sizing: border-box;
		}
		padding-top: 0 !important;
		/* Header
		================*/
		.page-header{
			border: none !important; border-bottom: solid 1px @clr_gray !important; box-shadow: none !important; position: relative !important; 
			.panel.wrapper{
				display: none;
			}
			.header.content{
				padding:15px 0  !important;
			}
			.clear;
		}
		/* Page titles
		================*/
		.page-title-wrapper{
			padding: 0 !important; display: none;
			h1{
				border: none;
			}
		}
		/* breadcrumbs
		================*/
		.breadcrumbs{
			display: none !important;
		}

		/* maincontent
		================*/
		main#maincontent{
			padding: 25px 0;
			.column.main{
				.product-info-main{
					width: 70%; padding-left: 30px; float: right;
					.page-title-wrapper{
						display: block;
					}
					.product-info-stock-sku,
					.box-tocart,
					.product-social-links{
						display: none;
					}	
				}
				.product.media { 
					width: 30%; margin: 0 0 30px 0; padding: 0;
					.fotorama__stage{
						border: solid 1px @clr_gray !important; background: @clr_gray !important; height: 220px !important;
					}
					.fotorama__nav-wrap.fotorama__nav-wrap--horizontal{
						display: none !important;
					}
				}
				.product.info.detailed{
					padding: 0 5px;
					.product.data.items[role=tablist]{
						.item.title, .item.content{
							display: block !important;
							&[id*=tab-label-reviews],
							&[id*=reviews]{
								display: none !important;
							}
						}

						a{
							text-decoration: none !important; font-size: 24px; display: inline-block !important; width: 100% !important; background: @clr_gray !important;
							border: 0 none !important; border-bottom: solid 1px @clr_gray !important;
						}
					}
				}

				/* Related Items
				===================*/
				.block.related,
				.block.upsell,
				.block.crosssell{
					display: none;
				}


				.clear; 
			}
		}
		/* Footer
		================*/
		.copyright,
		.back_to_top{
			display: none !important;
		}
	}
}