/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* login register page design 
=============================*/

body[class*=customer-account]{

  .login-container,
  form.form.form-create-account,
  form.form.password{
    width: calc(~"100% + 30px"); max-width: calc(~"100% + 30px"); min-width: min-content; margin: 0 -15px;
    @media only screen and (max-width: 767px){
      width: 100%; max-width: 100%; margin: 0 0 30px;
    }

    > div.block,
    > fieldset.fieldset{
      width: 50%; padding: 0 15px; float: left;
      @media only screen and (max-width: 767px){
        width: 100%; display: block; float: none; padding: 0;
      }
    }

    .actions-toolbar{
      padding: 0 15px; display: inline-block; width: 100%; 
      @media only screen and (max-width: 767px){
        padding: 0;
      }
    }

    .clear;

  }

  /* Login page 
  ===============*/
  .login-container{
    .field{
      .control{
        width: 100%; 
      }
    }
    .actions-toolbar{
      padding: 0;
    }
  }


  /* Register page 
  ===============*/
  form.form.form-create-account{
    
  }


  /* Forgot password page 
  =======================*/
  form.form.form-password{
    
  }
}