/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

.checkout-index-index .nav-sections{
	display: block;
}
.checkout-index-index{
	#checkout.am-checkout{
		background: @clr_white;  padding: 6px; margin: 0;
	}
	.fieldset{
		width: 100%; max-width: 700px; margin-bottom: 0;
		.clear;
		.field{
			margin-bottom: 0px; margin-top: 0; /*width: 50%;  padding-right: 30px; float: left;*/
			.label, label{
				padding: 0;  border: 0; text-align: left; display: inline-block;
				span{
					font-size: 12px; line-height: 15px; color: #5f5f5f; display: inline-block;
				}
				&:after{
					margin-left: 4px; font-size: 11px;
				}
			}
			.checkbox{
				display: inline-block; width: auto; vertical-align: middle; margin-top: 0px;
			}
			.control{
				input, select{
					height: 25px; border-radius: 4px !important; width: 100%; padding: 0 5px; font-family: @Arial; font-size: 12px;
					line-height: 17px; margin-bottom: 5px; text-align: left; color: @clr_black; font-weight: 400;
					&:focus{
						/*box-shadow: 0px 0px 5px #005CB8 !important;*/
					}
				}
				select{
					padding-right: 15px; border: 1px solid #b8b8b8; background: url(../images/down-arrow.svg) no-repeat; background-size: 6px;
					background-position: 98% 50%;
				}
				.field{
					.label{
						display: none;
					}
				}
				.field-tooltip{
					display: none;
				}
			}
		}
	}
	#maincontent{
		.checkout-header{
			padding: 0 15px 15px !important; border-bottom: 2px solid #ccc; margin: 15px;
			.title{
				font-size: 17px; font-weight: 700;  text-transform: uppercase; color: #333; padding-bottom: 7px;
				border-bottom: 2px solid #cc0000;  margin-bottom: 10px; font-family: @OpenSans; margin: 0; padding-top: 0;
			}
			.description{
				font-size: 12px; line-height: 17px; color: #333333; font-weight: 700;
			}
		}
		.clear;
		.opc-estimated-wrapper{
			display: none;
		}
		.authentication-wrapper{
			margin: 0 10px 15px; /*text-align: left;*/ padding: 0 15px !important; border-bottom: 2px solid #ccc; max-width: 100%; width: calc(~"100% - 20px"); display: none;
			@media only screen and(max-width: 767px){
				text-align: right;
			}
			button.action{
				/*display: none;*/
				background: #9b0005; color: @clr_white; margin-bottom: 3px; border-radius: 0px; border: 1px solid #d43f3a;
				margin:  0 auto 15px; padding: 6px 12px; height: 34px; font-size: 14px;  line-height: 20px;  font-family: @OpenSans;
				@media only screen and (max-width: 767px){
					margin-bottom: 10px;
				}
				&:hover, &:focus{
					background-color: #c9302c; border-color: #ac2925;
				}
				span{
					text-transform: capitalize;
				}
			}
			.modal-custom{
				/*position: static; .transform(none); visibility: visible; border: 0;*/ width: 100%; max-width: 320px; right: 15px; top: 40px;
				@media only screen and(max-width: 767px){
					left: 0; right: 0; top: 20%; margin: 0 auto;
				}
				.modal-inner-wrap{
					padding: 0 20px;
					@media only screen and(max-width: 767px){
						min-height: 320px;
					}
					.modal-header{
						/*display: none;*/ border: 0; padding: 0; height: 20px;
						button.action-close{
							width: 22px; height: 22px; background: url('../images/topnav_close_1.png') no-repeat; background-size: contain; display: block;
							opacity: 1; margin: 5px;
							&:before{
								display: none;
							}
						}
						&:before{
							display: none;
						}
						&:after{
							margin: 10px;
						}
					}
					.modal-content{
						box-shadow: none; border: none; padding-bottom: 0px; margin-bottom: 0px;
						.block-authentication{
							.block{
								.block-title{
									margin-bottom: 10px; background-image: linear-gradient(to top, #1a6dc0, #004081); width: auto; display: inline-block;
									a, strong{
										display: block; padding: 4px 10px; font-weight: bold; color: #FFF; font-size: 12px;
									}
								}
							}
						}
						form{
							.fieldset{
								width: 100%; max-width: 700px; margin-bottom: 0;
								.clear;
								.field{
									margin-bottom: 0px; margin-top: 0; /*width: 50%;  padding-right: 30px; float: left;*/
									.label, label{
										padding: 0;  border: 0;
										span{
											font-size: 12px; line-height: 15px; color: #5f5f5f; 
										}
										&:after{
											margin-left: 4px; font-size: 11px;
										}
									}
									.control{
										input, select{
											height: 25px; border-radius: 4px !important; width: 100%; padding: 0 5px; font-family: @Arial; font-size: 12px;
											line-height: 17px; margin-bottom: 0px; text-align: left; color: @clr_black; font-weight: 700;
										}
										select{
											padding-right: 15px; border: 1px solid #b8b8b8; background: url(../images/down-arrow.svg) no-repeat; background-size: 6px;
											background-position: 98% 50%;
										}
										.field-tooltip{
											display: none;
										}
									}
								}
							}
							.actions-toolbar{
								.primary{
									margin: 20px 0 10px;
									button.action{
										background: #9b0005; color: @clr_white; margin-bottom: 3px; border-radius: 0px; border: 1px solid #d43f3a;
										margin:  0 auto; padding: 6px 12px; height: 34px; font-size: 14px;  line-height: 20px;  font-family: @OpenSans;
										@media only screen and (max-width: 767px){
											margin-bottom: 10px;
										}
										&:hover, &:focus{
											background-color: #c9302c; border-color: #ac2925;
										}
										span{
											text-transform: capitalize;
										}
									}
								}
								.clear;
								.secondary{
									/*float: right; */ /*padding-left: 37%;*/ padding-top: 3px;
									a.action{
										border: 0; padding: 0; margin: 0; height: auto; min-height: 0; text-transform: capitalize;
										font-size: 14px; line-height: 20px; color: #005cb8;
										span{
											font-size: 14px; line-height: 20px; color: #005cb8;
										}
										&:hover{
											background: @clr_white; color: #005cb8; text-decoration: underline;
										}
										&:focus{
											color: #9b0005; text-decoration: underline !important;
										}
									}
								}
							}
						}
					}
				}
	       	}
		}
		.columns{
			.column.main{
				#checkout{
					.opc-wrapper{
						display: block; padding: 0 5px;
						.clear;
						.checkout-column{
							float: left;
							@media only screen and (max-width: 991px){
								width: 100% !important;
							}
							&:first-child{
								width: 33.3%;
								.checkout-block{ 
									padding: 0 10px 10px; 
									.step-title{
										margin: 0 -10px;
									}
								}
							}
							&:nth-child(2){
								width: 66.6%;
								.checkout-block{
									float: left; width: 48.25%; margin-bottom: 10px;
									@media only screen and (max-width: 767px){
										width: calc(~"100% - 20px") !important; float: none;
									}
									&:first-child{
										.step-title{
											@media only screen and (max-width: 767px){
												margin: 0 -16px;
											}
											&:before{
												content: '2';
											}
										}
									}
									&:last-child{
										@media only screen and (max-width: 767px){
											padding: 0 15px 15px;
										}
										.step-title{
											@media only screen and (max-width: 767px){
												margin: 0 -16px;
											}
											&:before{
												content: '3';
											}
										}
									}
								}
							}
							&:last-child{
								width: 66.6%; float: right;
								.title{
									&:before{
										content: '✔';
									}
								}
							}
							.fieldset{
								margin: 0 -3px; width: calc(~"100% + 6px");
								.field{
									margin-bottom: 5px; margin-top: 0; padding: 0 3px;/* position: relative;*/
									.label, label{
										padding: 0;  border: 0; text-align: left;
										span{
											font-size: 12px; line-height: 15px; color: #5f5f5f; 
										}
										&:after{
											margin: 0; font-size: 11px;
										}
									}
									.control{
										position: relative; width: 100%; padding-right: 0;
										input, select{
											height: 25px; border-radius: 4px !important; width: 100%; padding: 0 5px; font-family: @Arial !important; 
											font-size: 12px; line-height: 15px; color: #2f2f2f; font-weight: 400; 
											margin-bottom: 0px; text-align: left;
										}
										select{
											padding-right: 15px; border: 1px solid #b8b8b8; background: url(../images/down-arrow.svg) no-repeat; background-size: 6px;
											background-position: 98% 50%;
										}
										.field-tooltip{
											display: none;
										}
										div.field-error, div.mage-error{
											padding: 4px 10px; border: 2px solid #DDD; -webkit-border-radius: 6px; 
											-moz-border-radius: 6px; border-radius: 6px; background: #EE0101; -webkit-box-shadow: 0px 0px 6px #000;
											-moz-box-shadow: 0px 0px 6px #000; box-shadow: 0px 0px 6px #000; color: #FFF; text-align: center;
											font-weight: 100; font-size: 11px; font-family: Tahoma,Geneva,Kalimati,sans-serif; position: absolute;
											right: auto !important; bottom: calc(~"100% + 7px")!important; left: 75% !important;
											width: 154px !important; height: auto !important; z-index: 9 !important; opacity: .87;
											&:before{
												content: ''; width: 0; height: 0; border-left: 7px solid transparent; 
												border-right: 7px solid transparent; border-top: 8px solid #DDD; font-size: 0;
												position: absolute; top: 100%; left: 12px;
											}
											&:after{
										 	    content: ''; width: 0; height: 0; border-left: 5px solid transparent; 
										 	    border-right: 5px solid transparent; border-top: 6px solid rgba(238, 1, 1, 0.92); 
										 	    font-size: 0; position: absolute; top: 100%; left: 15px;
											}
										}
									}
								}
								.field._error .control input, .field._error .control select, .field._error .control textarea,
								input.mage-error, select.mage-error, textarea.mage-error{
									border: 1px dashed rgba(238, 1, 1, 0.92) !important; outline: none; box-shadow: none;
									&:focus{
										outline: none; box-shadow: none; background: #fff;
									}
								}
								fieldset.field{
									.field{
										padding: 0;
									}
								}
							}
							.step-title, .title{
							    margin: 0 -15px; color: #fff; font-weight: 700; font-size: 13px; padding: 10px 15px; background-color: #005CB8;
							    border-radius: 5px 5px 0 0; line-height: 20px;
							    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005CB8), to(#004387));
							    background-image: -webkit-linear-gradient(top, #005CB8, #004387);
							    background-image: -moz-linear-gradient(top, #005CB8, #004387);
							    background-image: -o-linear-gradient(top, #005CB8, #004387);
							    background-image: linear-gradient(to bottom, #005CB8, #004387);
							    &:before{
							    	content: '1'; display: inline-block; width: 20px; height: 20px; background: #FFFFFF; color: #696969; border-radius: 4px;
    								margin: 0; padding: 0; margin-right: 5px; text-align: center;
							    }
							}
							.checkout-block{
								padding: 0 15px 10px; border-radius: 5px; border: solid 1px #EAEAEA; box-shadow: none; margin: 0 5px 30px;
								&:hover{
									box-shadow: none;
								}
								.opc-block-summary{
									margin: 0; padding: 0; background: @clr_white;
									.title{
										margin-bottom: 15px;
									}
									.block{
										margin-bottom: 0px;
										.title{
											margin: 0;	display: none;
											&:before{
												display: none;
											}									
										}
										.content{
											.minicart-items-wrapper{
												padding: 0;
												ol.minicart-items{
													li{
														padding: 10px 0;
														.product{
															.product-image-container{
																margin: 0;width: 50px !important; height: 50px !important;
																.product-image-wrapper{
																	img{
																		width: 40px; height: 40px; object-fit: contain;
																	}
																}
															}
															.product-item-details{
																padding-left: 50px;
																.product-item-inner{
																	margin-bottom: 0;
																	.product-item-name-block{
																		width: 100%; font-size: 0; vertical-align: middle;
																		.product-item-name{
																			width: 80%; display: inline-block; font-size: 12px; line-height: 16px; 
																			color: #666666; font-weight: 600;  margin-bottom: 0; vertical-align: middle;
																		}
																		.details-qty{
																			display: inline-block; font-size: 12px; line-height: 16px;  text-align: center;
																			vertical-align: middle;  margin-top: 0px; width: 20%;
																			.label{
																				display: none;
																			}
																			.value{
																				
																			}
																		}
																	}
																	.subtotal{
																		vertical-align: middle;
																		.price{
																			font-size: 14px; line-height: 30px; color: #666666; font-weight: 700;
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
									table.table-totals{
										tr{
											width: 100%;
											th{
												width: 85%; background: @clr_white; text-align: right; font-size: 12px; line-height: 17px; 
												color: #666666 !important; font-weight: 600; vertical-align: middle; padding: 4px 0;
												span{
													font-size: 12px; line-height: 17px; color: #666666 !important; font-weight: 600;
													 padding: 0; background-color: none; background: none;
												}
												strong{
													padding: 0;
												}
											}
											td{
												width: 15%; padding: 0 0 0 10px;
												.price{
													font-size: 14px; line-height: 30px; color: #666666; font-weight: 700;
												}
												span{
													font-size: 12px; line-height: 17px;  color: #666666 !important; font-weight: 600;
													background-color: none; background: none;
												}
												strong{
													padding: 0;
												}
											}
										}
										.grand.totals{
											th{
												border-bottom: 1px solid #ccc;
											}
											td{
												border-bottom: 1px solid #ccc; padding: 6px 0 6px 10px;
												strong{
													span.price{
														font-size: 20px; line-height: 29px; color:  #9b0005 !important; font-weight: 700;
													}
												}
											}
										}
									}
								}
								.additional-options{
									width: 50%; float: right; margin: 0; display: flex; max-width: 100%; flex-wrap: wrap;
									@media only screen and (max-width: 567px){
										width: 100%; float: none;
									}
									.admin__field{
										order: 2; width: 100%; text-align: right; padding-right: 10px;
										label{
											font-size: 14px; line-height: 20px; color: #000001 !important; font-weight: 400; margin-bottom: 0;
										}
										input{
											margin: 0; vertical-align: middle;
										}
									}
									> div{
										order: 1; margin-bottom: 10px; text-align: right;  width: 100%;
										.checkout-agreements{
											.checkout-agreement{
												display: block; position: relative;
												input{
													vertical-align: middle; display: inline-block; margin: 0;
												}
												p{
													font-size: 14px; line-height: 20px; color: #000001; font-weight: 400; margin-bottom: 0; display: inline-block;
													a{
														color: #005CB8; display: inline-block;
														&:hover{
															text-decoration: underline;
														}
													}
												}
												div.field-error, div.mage-error{
													padding: 4px 10px; border: 2px solid #DDD; -webkit-border-radius: 6px; 
													-moz-border-radius: 6px; border-radius: 6px; background: #EE0101; -webkit-box-shadow: 0px 0px 6px #000;
													-moz-box-shadow: 0px 0px 6px #000; box-shadow: 0px 0px 6px #000; color: #FFF; text-align: center;
													font-weight: 100; font-size: 11px; font-family: Tahoma,Geneva,Kalimati,sans-serif; position: absolute;
													right: auto !important; bottom: calc(~"100% + 7px")!important; left: 75% !important;
													width: 154px !important; height: auto !important; z-index: 9 !important; opacity: .87;
													&:before{
														content: ''; width: 0; height: 0; border-left: 7px solid transparent; 
														border-right: 7px solid transparent; border-top: 8px solid #DDD; font-size: 0;
														position: absolute; top: 100%; left: 12px;
													}
													&:after{
												 	    content: ''; width: 0; height: 0; border-left: 5px solid transparent; 
												 	    border-right: 5px solid transparent; border-top: 6px solid rgba(238, 1, 1, 0.92); 
												 	    font-size: 0; position: absolute; top: 100%; left: 15px;
													}
												}
												button.action.action-show{
													text-transform: none; font-size: 14px;
												}
												button.action.action-show span{
													font-weight: 700;
												}
											}
										}
									}
								}
								.checkout-payment-method.submit{
									.payment-methods{
										.actions-toolbar{
											button.action{
												background: #9b0005; border: 0; padding: 6px 23px; box-shadow: none; border-radius: 2px;
												span{
													font-size: 15px; line-height: 30px; color: @clr_white; font-weight: 700; text-transform: capitalize;
												}
												&:hover{
													background: #c9302c;
												}
											}
											button.action[title*="Continue to PayPal"]{
												background: url('../images/paypal-checkout.png') no-repeat; display: block; background-size: contain; width: 175px; height: 50px;
												font-size: 0;
												span{
													font-size: 0;
												}
											}
										}
									}
								}
								.clear;
								.checkout-payment-method{
									width: 50%; float: left;
									@media only screen and (max-width: 567px){
										width: 100%; float: none;
									}
									.payment-option{
										@media only screen and (max-width: 767px){
											margin: 0 0 20px;
										}
										.payment-option-title{
											padding: 0 0 10px;
											span{
												font-size: 12px; line-height: 15px; color: #2f2f2f; font-family: @Arial;
												&:after{
													display: none;
												}
											}
										}
										.payment-option-content{
											display: block !important; padding: 0 0 10px;
											.form.form-discount{
												.payment-option-inner{
													margin-bottom: 10px;
													.field{
														label{
															display: none;
														}
														.control{
															input{
																width: 100%; max-width: 185px;  height: 25px; border-radius: 4px; font-size: 12px; line-height: 17px;
																color: #000001; font-weight: 700;
																&:focus{
																	/*box-shadow: 0px 0px 5px #005CB8 !important;*/
																}
															}
														}
													}
												}
												.actions-toolbar{
													.primary{
														float: none; text-align: left;
														button.action{
															box-shadow: 0 3px 3px rgba(0, 0, 0, .25), inset 0 0 3px rgba(255, 255, 255, .89) !important;
															background: rgb(221, 221, 221); border-radius: 5px; font-weight: bold; width: auto;
    														padding: 0px 7px; color: #0054a9;  border-color: #ddd; line-height: 0; height: auto; min-height: 22px;
    														span{
    															text-transform: capitalize;
    														}
														}
													}
												}
											}
										}
									}
								}
								#payment{
									width: 100%; float: none;
									br{
										display: none;
									}
									#checkout-step-payment{
										#co-payment-form{
											fieldset{
												.legend{

												}
												.field{
													.control{
														ui{
															li{

															}
														}
														input, select{
															background-color: @clr_white !important; border-radius: 0 !important; background-position: 96% 50%; 
														}
														.fields{ 
															margin: 0 -3px; width: calc(~"100% + 6px");
															.field{
																width: 50% !important; 
															}
															.month{

															}
														}
													}
													&.number{
														margin-bottom: 10px;
													}
													label{
														font-weight: 400; margin-bottom: 5px;
													}
												}
												.opc-payment{
													.items{
														@media only screen and(max-width: 767px){
															margin: 0;
														}
														.payment-group{
															.step-title{
																margin: 0 -13px 15px;
															}
															.payment-method{
																margin-bottom: 15px;
																.field.choice{
																	border: 0;
																	input{
																		display: inline-block; vertical-align: middle; margin: 0;
																	}
																	label{
																		white-space: normal; display: inline-flex; flex-wrap: wrap; 
																		img{
																			width: 50px; height: 35px; order: 2; margin-top: -10px;
																		}
																		span{
																			order: 1; margin-right: 10px;
																		}
																		a{	
																			order: 3; color: #005CB8; font-size: 12px; line-height: 17px; font-family: @Arial; display: inline-block;
																			span{
																				color: #005CB8;
																			}
																			&:hover{
																				text-decoration: underline;
																			}
																		}
																	}
																}
																.payment-method-content{
																	padding: 0;
																	.messages{

																	}
																	
																	.credit-card-types{
																		margin: 10px auto; width: 100%;
																		li{
																			img{
																				width: 30px; filter: none; -webkit-filter: none;
																			}
																		}
																	}
																	fieldset{
																		.field{
																			label{
																				&:after{
																					font-size: 14px;
																				}
																			}
																			.control{
																				input, select{
																					text-align: left !important; padding: 0 10px !important;
																					height: 25px; border-radius: 4px !important; width: 100%; padding: 0 5px; 
																					font-family: @Arial; font-size: 12px;
																					line-height: 17px; margin-bottom: 5px; text-align: left; color: @clr_black; 
																					font-weight: 400;
																					&:focus{
																						/*box-shadow: 0px 0px 5px #005CB8 !important;*/
																					}
																				}
																			}
																		}
																	}
																	#co-transparent-form{
																		border: 1px solid #ccc; background: #f4f4f4; padding: 5px 15px 15px; display: block;
    																	margin-bottom: 5px; color: #2f2f2f;
    																	font-family: @Arial; font-size: 12px; line-height: 15px;
    																	input[type="number"]{
																			padding: 0; text-align: center;
																			&::-webkit-inner-spin-button,
																			&::-webkit-outer-spin-button {
																			-webkit-appearance: none; margin: 0; opacity: 0;
																			}
																		}

																	}
																}
															}
														}
													}
												}
												&#payment_form_paypal_express{ 
													width: 100%; margin: 0;
													.payment-method-note{
														border: 1px solid #ccc; background: #f4f4f4; padding: 5px 15px 15px; display: block;
    													margin-bottom: 5px; color: #2f2f2f; font-family: @Arial; font-size: 12px; line-height: 15px;
													}
												}
											}
										}
									}
								}
								#shipping{
									#checkout-step-shipping{
										padding-top: 15px;
										.field{
											.control{
												.shipping-address-items{
													display: flex; flex-wrap: wrap;
													.shipping-address-item{
														border-color: fade(#19539C, 50%); padding: 20px 25px 15px 15px; margin: 0 2px 15px;
														font-size: 14px; line-height: 20px; color: #303030; width: 48%;
														&.selected-item{
															border-color: #19539C;
														}
														&.not-selected-item{
															&:after{
																display: none;
															}
														}
														&:before{
															display: none;
														}
														&:after{
															background: #19539C; height: 23px !important; width: 23px; font-size: 16px; display: block;
    														content: '\e610' !important;
														}
														button.action{
															color: #9b0005; margin-bottom: 3px; border-radius: 0px; font-weight: 600;
															border: 0; margin: 10px 0 0; padding: 0; height: 34px; font-size: 14px;
															line-height: 20px;  font-family: @OpenSans; background: none; float: right;
															text-decoration: underline;
															@media only screen and (max-width: 767px){
																margin-bottom: 10px;
															}
															&:hover, &:focus{
																background-color: none; border-color: none;
															}
															span{
																text-transform: capitalize;
															}
														}
														.clear;
													}
												}
											}
										}
										button.action.action-show-popup, button.action.action-edit-address{
											color: @clr_white; background-color: #3071a9; border-color: #285e8e; padding: 5px 15px; min-height: 30px;
											font-size: 12px; line-height: 18px; height: 0; margin-bottom: 15px;
											span{
												color: @clr_white; text-transform: capitalize; font-size: 12px; line-height: 18px; font-family: @OpenSans;
											}
											&:hover{
												text-decoration: none; background: #b60006;
											}
										}
										.form.form-login{
											/*display: none;*/ margin-top: 0;
											#customer-email-error{
												/*color: #c00;*/ font-size: 12px; line-height: 17px; margin-top: 2px;
											}
											.fieldset{
												.hidden-fields{
													margin: 0; width: 100%; 
													.control{
														span.note, span{
															font-size: 14px; line-height: 20px; color: #000001;
														}
													}
													.actions-toolbar{
														.primary{
															button{
																color: @clr_white; background-color: #3071a9; border-color: #285e8e; padding: 5px; min-height: 27px;
																font-size: 12px; line-height: 18px; height: 0;
																span{
																	color: @clr_white; text-transform: capitalize; font-size: 12px; line-height: 18px; font-family: @OpenSans;
																}
																&:hover{
		    														text-decoration: none; background: #b60006;
		    													}
															}
														}
														.secondary{
															a.action{
																span{
																	color: #005cb8; font-size: 14px; line-height: 20px;
																}
																&:hover{
																	text-decoration: underline;
																}
															}
														}
													}
												}
											}
										}
										.form.form-shipping-address{
											margin-top: 15px;
										}
										.checkout-billing-address{
											.billing-address-details{
												font-size: 14px; line-height: 20px; color: #303030;
												button.action{
													margin-top: 15px;
												}
											}
											.field.choice{
												input{
													vertical-align: middle; margin: 0;
												}
												label{
													display: inline;
													span{
														font-size: 12px; line-height: 17px; color: #5f5f5f; font-family: @Arial; font-weight: 400;
													}
												}
											}
											.fieldset{
												.actions-toolbar{
													button.action{
														background: #9b0005; border: 0; padding: 0px 15px; box-shadow: none; border-radius: 2px; height: 30px;
														span{
															font-size: 14px; line-height: 20px; color: @clr_white; font-weight: 400; text-transform: capitalize;
														}
														&:hover{
															background: #c9302c;
														}
													}
												}
											}
										}
									}
								}
								#opc-shipping_method{
									.step-title{
										margin-bottom: 15px;
									}
									.checkout-shipping-method{
										.step-content{
											.no-quotes-block{
												span{
													font-size: 12px; line-height: 19px; color: #2f2f2f; font-weight: 400; 
												}
											}
											.form.methods-shipping{
												#checkout-shipping-method-load{
													table{
														tr{
															th{
																font-size: 12px; line-height: 17px; color: #2f2f2f !important;  font-weight: 700;  padding: 5px 10px;
																vertical-align: top;
															}
															td{
																border: 0; padding: 5px 10px;
																font-size: 12px; line-height: 19px; color: #5f6162; font-weight: 400; font-family: @Arial;
																input{
																	margin: 2px 0 0;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.modals-wrapper{
		aside{
			.modal-inner-wrap{
				border: 0;
				.modal-header{
					border: 0;  padding: 0;
					button{
						width: 22px; height: 22px; background: url('../images/topnav_close_1.png') no-repeat; background-size: contain; display: block;
						opacity: 1; margin: 5px; padding: 0;
						&:before{
							display: none;
						}
					}
					h1{
						font-size: 17px; font-weight: 700; text-transform: uppercase; color: #333; padding-bottom: 7px; 
						border-bottom: 2px solid #cc0000; font-family: @OpenSans; margin: 0; padding: 10px; 
					}
				}
				.modal-content{
					border: 0 !important; box-shadow: none !important; padding: 15px;
					#opc-new-shipping-address{
						form{
							#shipping-new-address-form{
								margin: 0;
							}
						}
					}
				}
				.modal-footer{
					border: 0; padding: 15px;
					button.action{
						background: #9b0005; color: @clr_white; margin-bottom: 3px; border-radius: 0px; border: 1px solid #d43f3a;
						margin:  0 auto; padding: 6px 12px; height: 34px; font-size: 14px;  line-height: 20px;  font-family: @OpenSans;
						margin-left: 10px;
						@media only screen and (max-width: 767px){
							margin-bottom: 10px;
						}
						&:hover, &:focus{
							background-color: #c9302c; border-color: #ac2925;
						}
						span{
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
}

#co-transparent-form-braintree{
	fieldset{
		.field{
			.control{
				.hosted-date-wrap{
					#braintree_expirationMonth {
					    margin-right: 10px;
					    &:after{
					    	top: 4; right: -15px; font-size: 25px;
					    }
					}
					div#braintree_expirationYear {
					    margin-left: 10px;
					}
					.hosted-control {
						width: calc(~"50% - 10px");
					}
				}
			}
		}
	}
}

.modal-popup{
	#opc-new-shipping-address .fieldset{
		margin: 0 -3px; width: calc(~"100% + 6px");
		.field{
			margin-bottom: 5px; margin-top: 0; padding: 0 3px;/* position: relative;*/
			.label, label{
				padding: 0;  border: 0; text-align: left;
				span{
					font-size: 12px; line-height: 15px; color: #5f5f5f; 
				}
				&:after{
					margin: 0; font-size: 11px;
				}
			}
			.control{
				position: relative; width: 100%; padding-right: 0;
				input, select{
					height: 25px; border-radius: 4px !important; width: 100%; padding: 0 5px; font-family: @Arial !important; 
					font-size: 12px; line-height: 15px; color: #2f2f2f; font-weight: 400; 
					margin-bottom: 0px; text-align: left;
				}
				select{
					padding-right: 15px; border: 1px solid #b8b8b8; background: url(../images/down-arrow.svg) no-repeat; background-size: 6px;
					background-position: 98% 50%;
				}
				.field-tooltip{
					display: none;
				}
				div.field-error, div.mage-error{
					padding: 4px 10px; border: 2px solid #DDD; -webkit-border-radius: 6px; 
					-moz-border-radius: 6px; border-radius: 6px; background: #EE0101; -webkit-box-shadow: 0px 0px 6px #000;
					-moz-box-shadow: 0px 0px 6px #000; box-shadow: 0px 0px 6px #000; color: #FFF; text-align: center;
					font-weight: 100; font-size: 11px; font-family: Tahoma,Geneva,Kalimati,sans-serif; position: absolute;
					right: auto !important; bottom: calc(~"100% + 7px")!important; left: 15% !important;
					width: 154px !important; height: auto !important; z-index: 9 !important; opacity: .87;
					&:before{
						content: ''; width: 0; height: 0; border-left: 7px solid transparent; 
						border-right: 7px solid transparent; border-top: 8px solid #DDD; font-size: 0;
						position: absolute; top: 100%; left: 12px;
					}
					&:after{
				 	    content: ''; width: 0; height: 0; border-left: 5px solid transparent; 
				 	    border-right: 5px solid transparent; border-top: 6px solid rgba(238, 1, 1, 0.92); 
				 	    font-size: 0; position: absolute; top: 100%; left: 15px;
					}
				}
			}
		}
		.field._error .control input, .field._error .control select, .field._error .control textarea,
		input.mage-error, select.mage-error, textarea.mage-error{
			border: 1px dashed rgba(238, 1, 1, 0.92) !important; outline: none; box-shadow: none;
			&:focus{
				outline: none; box-shadow: none; background: #fff;
			}
		}
		fieldset.field{
			.field{
				padding: 0;
			}
		}
	}
}