<div class="foot1 inner-container">
<div class="row cols-5">
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>Connect With Us</h3>
<ul class="social-links">
<li><a href="https://www.facebook.com/pumpproductsinc"><em class="fa fa-facebook" aria-hidden="true">&nbsp;</em>Find Us on Facebook</a></li>
<li><a href="https://twitter.com/pumpproducts"><em class="fa fa-twitter" aria-hidden="true">&nbsp;</em>Follow us on Twitter</a></li>
<li><a href="https://www.youtube.com/user/pumpproductsvideos"><em class="fa fa-youtube" aria-hidden="true">&nbsp;</em>Watch us on YouTube</a></li>
<li><a href="https://www.pumpproducts.com/wp1/" target="_blank" rel="noopener"><em class="fa fa-wordpress" aria-hidden="true">&nbsp;</em>Read our Blog</a></li>
<li><a href="https://www.instagram.com/pump_products/?ref=badge"><em class="fa fa-instagram">&nbsp;</em>View us on Instagram</a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>Secure Shopping</h3>
<ul class="Secure_Shopping">
<li><a href="https://seal.verisign.com/getseal?host_name=www.pumpproducts.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"> <img src="{{media url=&quot;getseal.gif&quot;}}" alt=""></a></li>
<li><a href="https://www.securitymetrics.com/site_certificate?id=1154325&amp;tk=0c9c37d30f949c1f547f87385f65ab3e" target="_blank" rel="noopener"> <img src="{{media url=&quot;PCI_DSS_Validated_blue.2.png&quot;}}" alt="SecurityMetrics Credit Card Safe"> </a></li>
<li><a href="https://www.mcafeesecure.com/RatingVerify?ref=www.pumpproducts.com" target="_blank" rel="noopener"> <img src="{{media url=&quot;13.gif&quot;}}" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams"> </a></li>
<li><a href="https://www.securitymetrics.com/site_certificate?id=1154325&amp;tk=0c9c37d30f949c1f547f87385f65ab3e" target="_blank" rel="noopener"> <img src="{{media url=&quot;Credit_Card_Safe_blue.2.png&quot;}}" alt="SecurityMetrics Credit Card Safe"> </a></li>
<li><a href="https://verify.authorize.net/anetseal/?pid=e027fbb6-029a-4148-8408-c9a2d9600849&amp;rurl=https%3A//www.pumpproducts.com/index.php" target="_blank" rel="noopener"> <img src="{{media url=&quot;secure90x72.gif&quot;}}" alt="Authorize.Net Merchant - Click to Verify"> </a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>Our Memberships</h3>
<ul class="our_memberships">
<li class="col-xs-12"><a href="https://www.easa.com/"><img class="img-responsive" src="{{media url=&quot;EASAtag_web.png&quot;}}" alt=""> </a></li>
<li class="col-xs-12"><a href="#"><img src="{{media url=&quot;phcc-logo-ft.jpg&quot;}}" alt=""> </a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>Service Excellence</h3>
<ul class="service_excellence">
<li><a> <img src="{{media url=&quot;seal.png&quot;}}" alt=""> </a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 sinc">
<div class="call_us_ft">Product Experts Available<br> <span style="text-decoration: none;">CALL US: 1-800-429-0800</span></div>
<p><a href="/family_owned"> <img src="{{media url=&quot;since-img.png&quot;}}" alt=""> </a></p>
</div>
</div>
</div>
<div class="foot2 inner-container">
<div class="row cols-5">
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>COMPANY INFORMATION</h3>
<ul>
<li><a href="{{store url='about-us'}}">Company Profile</a></li>
<li><a href="{{store url='meet_the_team'}}">Meet The Team</a></li>
<li><a href="{{store url='news/news-releases.html'}}">Our Latest News</a></li>
<li><a href="{{store url='contact-us'}}">Company Information</a></li>
<li><a href="{{store url='low-price-guarantee'}}">Low Price Guarantee</a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>CUSTOMER SERVICE</h3>
<ul>
<li><a href="{{store url='contact-us'}}">Contact Us</a></li>
<li><a href="website_suggestions">Website Suggestions</a></li>
<li><a href="{{store url='privacy-policy'}}">Privacy Policy</a></li>
<li><a href="{{store url='conditions-of-use'}}">Terms of Use</a></li>
<li><a href="{{store url='faq'}}">Help FAQs</a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>BUYERS GUIDES</h3>
<ul>
<li><a href="#">Sump Pump</a></li>
<li><a href="#">Well Pump</a></li>
<li><a href="#">Pond Pump</a></li>
<li><a href="#">Transfer Pump</a></li>
<li><a href="{{store url='news/buyers-guide.html'}}">View All Guides</a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>PRODUCT SUPPORT</h3>
<ul>
<li><a href="{{store url='repair-parts-help'}}">Repair Parts Help</a></li>
<li><a href="{{store url='faq-quick-tips'}}">Quick Tips</a></li>
<li><a href="{{store url='product-reviews'}}">Product Reviews</a></li>
<li><a href="{{store url='technical-support'}}">Technical Support</a></li>
<li><a href="{{store url='brands.html'}}">Brands</a></li>
</ul>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
<h3>ORDER SUPPORT</h3>
<ul>
<li><a href="{{store url='placing-an-order'}}">Placing an Order</a></li>
<li><a href="{{store url='track-order-status'}}">Track Your Order</a></li>
<li><a href="{{store url='shipping-and-delivery'}}">Shipping &amp; Delivery</a></li>
<li><a href="{{store url='returns-policy'}}">Returns Policy</a></li>
<li><a href="{{store url='customer/account/create'}}">Update Your Account</a></li>
</ul>
</div>
</div>
</div>
<div class="base_footer">
<p>© Pump Products 2019 | Tel.: 1800.429.0800 | Fax. 201-497-6596 | <a href="mailto:info@pumpproducts.com">info@pumpproducts.com</a></p>
</div>
<div><a class="back_to_top" href="#"><em class="fa fa-angle-up">&nbsp;</em>Back To Top</a> <a class="questions-ad" data-toggle="modal" data-target="#call_pop"><img src="{{media url=&quot;chathome.png&quot;}}" alt="questions ad">&nbsp;</a></div>